.join-validator-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A36BA2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23A36BA2' width='11' height='11'/%3E%3Crect fill='%23a76ca1' x='10' width='11' height='11'/%3E%3Crect fill='%23ab6ea0' y='10' width='11' height='11'/%3E%3Crect fill='%23af6f9f' x='20' width='11' height='11'/%3E%3Crect fill='%23b3719d' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23b6729c' y='20' width='11' height='11'/%3E%3Crect fill='%23b9749b' x='30' width='11' height='11'/%3E%3Crect fill='%23bc769a' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23bf7899' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23c27a98' y='30' width='11' height='11'/%3E%3Crect fill='%23c47c98' x='40' width='11' height='11'/%3E%3Crect fill='%23c67e97' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23c98196' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23cb8395' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23cc8595' y='40' width='11' height='11'/%3E%3Crect fill='%23ce8894' x='50' width='11' height='11'/%3E%3Crect fill='%23d08a94' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d18d94' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d38f94' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d49294' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d59594' y='50' width='11' height='11'/%3E%3Crect fill='%23d69794' x='60' width='11' height='11'/%3E%3Crect fill='%23d79a95' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d89d95' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23d89f96' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23d9a297' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23daa598' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23daa899' x='70' width='11' height='11'/%3E%3Crect fill='%23dbaa9a' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23dbad9b' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23dbb09d' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23dcb39e' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23dcb5a0' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23dcb8a2' x='80' width='11' height='11'/%3E%3Crect fill='%23ddbba4' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23ddbea6' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23ddc0a9' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23ddc3ab' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23dec6ae' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23dec8b0' x='90' width='11' height='11'/%3E%3Crect fill='%23decbb3' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23dfcdb6' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23dfd0b9' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e0d3bc' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e0d5bf' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e1d7c2' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e1dac5' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e2dcc8' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e3dfcb' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e4e1cf' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e5e3d2' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e6e6d5' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e7e8d9' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23e8eadc' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23eaece0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ebefe3' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23edf1e6' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23eff3ea' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23f1f5ed' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23F3F7F0' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.join-validator-container{
    background: #373737;
    padding: 15px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, 0.348);
}
.join-validator-container h1{
    font-size: 30px;
    color: white;
}
.join-validator-container h6{
    font-size: 15px;
    color: white;
    
}

.join-validator-content{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-validator-container .join-validator-icons{
    margin-right: 8px;
    margin-left: 5px;
}

.join-validator-font-size{
    color: white;
    font-size: 14px;
}

.join-validator-font-error{
    font-size: 18px;
    color: red;
    width: 100%;
    height: 18px;
    margin: 0;
    text-align: center;
}

.join-validator-alert{
    margin: 0 !important;
}

.join-validator-container{}
.join-validator-container{}
.join-validator-container{}
.join-validator-container{}
.join-validator-container{}