.section_helpers
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 20px
  padding: 5px 20px // Ajusta el espacio lateral según tu diseño
  max-width: 100%
  position: relative
  z-index: 1 // Asegura que las tarjetas estén por encima de la imagen de fondo

.LogoLin
  flex-wrap: wrap
  position: relative
  display: inline-block
  width: 30px
  height: 30px
  margin-top: 20px
  margin-bottom: 20px
  margin-left: -15px

.helpers_backgroundContainer
  
  position: absolute// Cambiado de relative a absolute
  width: 100%
  height: 600px // Ajusta la altura según tus necesidades
  overflow: hidden
  z-index: 0 // Imagen de fondo detrás de las tarjetas
  background-color: gray
  background-image: './colaboradores.jpg'

.helpers_title-container
    z-index: 2
    position: absolute
    top: 50px
    left: 50%
    transform: translate(-50%, 0)
    color: white
    font-size: 70px
    font-weight: bold
    font-family: 'Calibri', sans-serif
    padding: 10px
    backdrop-filter: blur(2px) // Agrega esta línea para el efecto borroso oscuro
    text-shadow: 0 10px 5px black

.helpers_row
  display: flex
  justify-content: center
  gap: 20px
  width: 100%
  max-width: 1200px // Ajusta el margen según tu diseño

.item_helpers
  flex: 0 0 calc(25% - 20px)
  width: 100%

  margin-bottom: 0px
  box-sizing: border-box
  margin-left: calc(-2% + 20px)
  text-align: center
  
  &:before
    content: ''
    display: block
    height: 20px  // Altura del espacio adicional
  
.helpers_card-title
  
  margin-top: 20px
  & + .item_helpers
    margin-left: 0
    margin-right: 0
    margin-left: calc(-5% + 10px) // Ajusta el margen izquierdo para el segundo elemento en adelante

