.section_library_Tap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30rem;
  transform: translate(1);
}

.section_item_Tap {
  flex-grow: 1;
  flex-basis: 200;
  width: 15rem;
  height: 15rem;
}

.nav-link {
  color: #000;
}

.section_item_Tap {
  scroll-snap-align: center;
}

.section_library_Tap::-webkit-scrollbar {
  width: 0px;
}

.section_library_Tap::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.section_library_Tap::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.section_library_Tap::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  margin: 0;
  box-shadow: none;
}

@media (min-width: 500px) and (max-width: 1300px) {
  .section_item_Tap {
    margin-left: 4.5rem;
  }
}
