.carousel{
    margin-left: 1rem;
    text-align: center;
  }

  @media screen and (min-width:576px ){
    .carousel-inner{
      display: block;
      justify-content: center;
  
    }
  
    .carousel-item{
      display: block;
      margin-left: 0;
      flex: 0 0 calc(100%/3);
    }
  
    .img-wrapper{
    height: 17vw;
  
  }
  }

  .carousel-inner{
    padding: 2em;
  }


  .btn-secondary{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
  
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  }

  .carousel-control-prev, .carousel-control-next{
    margin-top: 8rem;
    width: 1rem;
    height: 2rem;
    background-color: grey;
    /* border-radius: 20%; */
    /* top: 50%; */
    /* transform: translateY(200%); */
    opacity: 0;
    }
    

  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
    .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
    .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
    .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
    .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }