.content_page {
    width: 175vh; 
    height: 85vh; 
    margin-right: 2rem;
}

.card-header{
    background-color: #183D3D;
}

.card-body{
    background-color: #215353;
}

.centro{
    width: 100%; 
    height: 100%; 
    margin-right: 2rem;
}