
.content_page {
    width: 85%; 
    height: auto;
    margin-right: 90%; 
    overflow: auto; 
    margin-top: 1%;
}


@media (min-width: 1700px) and (max-width: 3000px) {
    .content_page {
        width: 80%; 
        height: 78vh;
        margin-right: 5%; 
    }
}
@media (min-width: 1270px) and (max-width: 1700px) {
    .content_page {
        width: 76%; 
        height: 70vh;
        margin-right: 5%; 
    }
}
@media (min-width:1100px ) and (max-width: 1270px) {
    .content_page {
        width: 73%; 
        height: 71vh;
        margin-right: 5%; 
    }
}
@media (min-width: 1000px) and (max-width: 1100px) {
    .content_page {
        width: 70%; 
        height: 68vh;
        margin-right: 5%; 
    }
}
@media (min-width: 910px) and (max-width: 1000px) {
    .content_page {
        width: 67%; 
        height: 63vh;
        margin-right: 5%; 
    }
}
@media (min-width: 865px) and (max-width: 910px) {
    .content_page {
        width: 65%; 
        height: 63vh;
        margin-right: 5%; 
    }
}
@media (min-width: 800px) and (max-width: 865px) {
    .content_page {
        width: 63%; 
        height: 61vh;
        margin-right: 5%; 
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    .content_page {
        width: 85%; 
        height: 61vh;
        margin-right: 5%; 
    }
}
@media (min-width: 500px) and (max-width: 600px) {
    .content_page {
        width: 83%; 
        height: 53vh;
        margin-right: 5%; 
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .content_page {
        width: 77%; 
        height: 38vh;
        margin-right: 5%; 
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .content_page {
        width: 75%; 
        height: 33vh;
        margin-right: 5%; 
    }
}
@media (min-width: 250px) and (max-width: 300px) {
    .content_page {
        width: 65%; 
        height: 33vh;
        margin-right: 5%; 
    }
}

@media (min-height: 800px) and (max-height: 1000px) {
    .content_page {
        height: 73vh;
        margin-right: 5%; 
    }
}
@media (min-height: 510px) and (max-height: 650px) {
    .content_page {
        height: 70vh;
        margin-right: 5%; 
    }
}
@media (min-height: 650px) and (max-height: 800px) {
    .content_page {
        height: 66vh;
        margin-right: 5%; 
    }
}
@media (min-height: 510px) and (max-height: 650px) {
    .content_page {
        height: 55vh;
        margin-right: 5%; 
    }
}
@media (min-height: 430px) and (max-height: 510px) {
    .content_page {
        height: 50vh;
        margin-right: 5%; 
    }
}
@media (min-height: 335px) and (max-height: 430px) {
    .content_page {
        height: 45vh;
        margin-right: 5%; 
    }
}
@media (min-height: 250px) and (max-height: 335px) {
    .content_page {
        height: 40vh;
        margin-right: 5%; 
    }
}
