.content_page
  width: 85%
  height: 800px !important
  margin-right: 90%
  margin-top: 1%

#buttonExpand
  background-color: #3498db
  color: #fff
  padding: 10px 20px
  border: none
  border-radius: 5px
  cursor: pointer
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)

.custom-card-body-page-container
  overflow: hidden
  overflow-y: hidden 

@media screen and (display-mode: fullscreen) 
  .content_page
    width: 100% !important
    height: 100% !important


@media (min-width: 1700px) and (max-width: 3000px)
  .content_page
    width: 85%
    height: 78vh
    margin-right: 5%

@media screen and (min-width: 1270px) and (max-width: 1700px)
  .content_page
    width: 76%
    height: 70vh
    margin-right: 5%

@media screen and (min-width: 1100px) and (max-width: 1270px)
  .content_page
    width: 73%
    height: 71vh
    margin-right: 5%

@media (min-width: 1000px) and (max-width: 1100px)
  .content_page
    width: 60% !important
    height: 1100px !important
    margin-right: 5%

@media (min-width: 910px) and (max-width: 1000px)
  .content_page
    width: 67%
    height: 63vh
    margin-right: 5%

@media (min-width: 865px) and (max-width: 910px)
  .content_page
    width: 65%
    height: 63vh
    margin-right: 5%

@media (min-width: 800px) and (max-width: 865px)
  .content_page
    width: 72%
    height: 100vh 1fr
    margin-right: 5%

@media (min-width: 600px) and (max-width: 800px)
  .content_page
    width: 72%
    height: 61vh
    margin-right: 5%

@media (min-width: 500px) and (max-width: 600px)
  .content_page
    width: 83%
    height: 53vh
    margin-right: 5%

@media (min-width: 400px) and (max-width: 500px)
  .content_page
    width: 77%
    height: 38vh
    margin-right: 5%

@media (min-width: 300px) and (max-width: 400px)
  .content_page
    width: 75%
    height: 33vh
    margin-right: 5%

@media (min-width: 250px) and (max-width: 300px)
  .content_page
    width: 65%
    height: 33vh
    margin-right: 5%

@media (min-height: 800px) and (max-height: 1000px)
  .content_page
    height: 73vh
    margin-right: 5%

@media (min-height: 510px) and (max-height: 650px)
  .content_page
    height: 70vh
    margin-right: 5%

@media (min-height: 650px) and (max-height: 800px)
  .content_page
    height: 66vh
    margin-right: 5%

@media (min-height: 510px) and (max-height: 650px)
  .content_page
    height: 55vh
    margin-right: 5%

@media (min-height: 430px) and (max-height: 510px)
  .content_page
    height: 50vh
    margin-right: 5%

@media (min-height: 335px) and (max-height: 430px)
  .content_page
    height: 45vh
    margin-right: 5%

@media (min-height: 250px) and (max-height: 335px)
  .content_page
    height: 40vh
    margin-right: 5%

