.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-button {
  border: none;
  background-color: transparent;
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e9e9e9;
}

.upload-content {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
