.custom-class-builder

    .title
        color: gray
        padding: 1rem

    .range-picker
        width: 100%
    
    .space-between
        display: flex
        justify-content: space-between
        align-items: center
    
    .center
        display: flex
        justify-content: center
        align-items: center

    .margin
        margin-bottom: 1rem
    
    .custom-class-builder-button
        background-color: #a9def9
        padding: 13px
        border: none
        border-radius: 5px
        margin: 10px 
