.bookCreator
  height: 100vh
  background-color: white
  overflow-y: auto

.contentBookCreator
  height: auto
    

.scroll
  max-height: 900px 
  overflow-y: auto

@media screen and (min-height: 970px) 
  .contentBookCreator 
    height: 100vh





