.bookCreator
  height: 100vh
  background-color: rgb(242, 243, 244)
  overflow-y: auto

.contentBookCreator
  height: auto
    
.scroll
  max-height: 900px 
  overflow-y: auto

.scroll::-webkit-scrollbar
  width: 1px

.scroll::-webkit-scrollbar-thumb 
  background-color: transparent
  border-radius: 5px

@media screen and (min-height: 970px) 
  .contentBookCreator 
    height: 100vh





