/* Estilos CSS para NotificationCard */
.notification-card {
    background-color: #c4b4f5;;
    border: 1px solid #c4b4f5;;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 10px;
    right: 50px;
    max-width: 300px;
    
  }
  
  .notification-card h3 {
    margin-top: 0;
  }
  
  /* Estilos CSS para la lista de notificaciones */
  .notification-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; /* Permite que las notificaciones fluyan en varias líneas */
    gap: 10px; /* Espacio entre las notificaciones */
    justify-content: flex-start;
  }
  
  /* Estilos CSS para cada notificación individual (tarjeta) */
  .notification {
    background-color: #f5f5f5; /* Color de fondo de las tarjetas */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: calc(50% - 5px); /* Ancho del 50% menos el espacio entre ellas */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 14px;
    margin-bottom: 5px; /* Espacio inferior entre las tarjetas */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(56, 8, 250, 0.5); /* Sombra */
    padding-right: 75%;
    display: flex; /* Hace que los elementos de notificación se muestren en línea */
    align-items: center; /* Centra verticalmente los elementos de notificación */
    margin-right: 20px; 
  }

  .notification {
    width: 300px;
    text-align: center;
  }
  
  .notification-text {
  margin-left: 10px; /* Agrega un margen a la izquierda para separar el texto de la imagen */
}
  
  
  
  