.custom-imagePrincipal-widgetFile
  display: block
  width: 98%
  height: 18rem
  text-align: center
  margin: 0 auto
  border-radius: 10px

.back-principal-ejemplo
  background-color: silver

.custom-imagePrincipal-widgetImage
  display: block
  width: 98%
  height: 18rem
  text-align: center
  margin: 0 auto
  border-radius: 10px

.no-image-selected-custum
  background-color: pink
  display: block
  width: 98%
  height: 18rem
  text-align: center
  margin: 0 auto
  border-radius: 10px

.content-custum-Img
  display: block
  width: 98%
  height: 18rem
  text-align: center
  margin: 0 auto
  border-radius: 10px

.custum-buttonSelectFoto-Widg
  display: flex
  justify-content: flex-end

.contentTextSelectFoto
  display: flex
  justify-content: space-between
  margin-top: 25px
