.wizard-header {
  height: 15%;
}

.wizard-body {
  display: flex;
  flex-direction: column;
  height: 85%;
  margin: 0 60px 0 60px;
}

.wizard-bg {
  height: 90%;
  background-color: transparent;
  margin-bottom: 0 !important;
  padding-top: min(20px, 1.2%);
  padding-bottom: min(60px, 3.5%) !important;
}

.btn-left {
  margin-right: 10px;
  border-radius: 18px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90px;
  border: 1px solid;
  font-size: 10px;
  background-color: white;
  border-color: #d5a6fa;
}

.btn-right {
  margin-right: 10px;
  border-radius: 18px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90px;
  border: 1px solid;
  font-size: 10px;
  background-color: white;
  border-color: #d5a6fa;
}

.btn-close {
  margin-right: 10px;
  border-radius: 20px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 900px;
  border: 1px solid;
  font-size: 10px;
  background-color: white;
  border-color: #d5a6fa;
}

.buttons-container {
  max-height: 80px;
  border: 1px solid;
  width: 100%;
  padding: 20px;
  min-width: 195px;
  background-color: aquamarine;
  border-radius: 20px;
}

.btn-left:hover {
  background: #d5a6fa;
  border-style: solid;
  border-color: #d5a6fa;
  color: white;
}

.btn-right:hover {
  background: #d5a6fa;
  border-style: solid;
  border-color: #d5a6fa;
  color: white;
}

.btn-close:hover {
  background: #d5a6fa;
  border-style: solid;
  border-color: #d5a6fa;
  color: white;
}

.btn-left:focus {
  background: #42006d;
  border-style: solid;
  border-color: #42006d;
  color: white;
}

.btn-right:focus {
  background: #42006d;
  border-style: solid;
  border-color: #42006d;
  color: white;
}

.btn-close:focus {
  background: #42006d;
  border-style: solid;
  border-color: #42006d;
  color: white;
}

.icons-wizard-right {
  margin-left: 10px;
}

.icons-wizard-left {
  margin-right: 10px;
}

.Page2LeftContainer {
  background: brown;
  width: 25%;
  border-radius: 20px;
}
