.wizard-bg {
    background-color: #ffffff;  
    margin: 100px auto;
    margin-top: 50px;
    padding: 40px;
    width: 70%;
    border: 1px solid;
    height: 100px auto;
    background-color: grey;
    border-radius: 18px;
}

.btn-left{
    margin-right: 10px;
    border-radius: 18px;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90px;
    border: 1px solid;
    font-size: 10px;
    background-color: white;
    border-color: #d5a6fa;
}

.btn-right{
    margin-right: 10px;
    border-radius: 18px;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90px;
    border: 1px solid;
    font-size: 10px;
    background-color: white;
    border-color: #d5a6fa;
}

.btn-close{
    margin-right: 10px;
    border-radius: 18px;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 900px;
    border: 1px solid;
    font-size: 10px;
    background-color: white;
    border-color: #d5a6fa;
}

.wizard-bg {
    background-color: #ffffff;  
    margin: 100px auto;
    margin-top: 50px;
    padding: 40px;
    width: 70%;
    border: 1px solid;
    height: 100px auto;
    min-width: 195px;
    background-color: grey;
    border-radius: 18px;
    
}

.buttons-container{
    margin-bottom: -20px;
    margin-top: 40px;
    border: 1px solid;
    margin: 100px auto;
    margin-top: 40px;
    width: 70%;
    height: 23%;
    padding: 20px;
    margin-bottom: -20px;
    min-width: 195px;
    background-color: aquamarine;
    border-radius: 18px;
}

.btn-left:hover{
    background: #d5a6fa;
    border-style: solid;
    border-color: #d5a6fa;
    color: white;
}

.btn-right:hover{
    background: #d5a6fa;
    border-style: solid;
    border-color: #d5a6fa;
    color: white;
}

.btn-close:hover{
    background: #d5a6fa;
    border-style: solid;
    border-color: #d5a6fa;
    color: white;
}

.btn-left:focus{
    background: #42006d;
    border-style: solid;
    border-color: #42006d;
    color: white;
}

.btn-right:focus{
    background: #42006d;
    border-style: solid;
    border-color: #42006d;
    color: white;
}

.btn-close:focus{
    background: #42006d;
    border-style: solid;
    border-color: #42006d;
    color: white;
}

.icons-wizard-right{
    margin-left: 10px;
}

.icons-wizard-left{
    margin-right: 10px;
}


@media (max-width: 507px) {
    .btn-left{
        margin-right: 10px;
        border-radius: 18px;
        padding: 7px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90px;
        border: 1px solid;
        font-size: 10px;
        background-color: white;
        border-color: #d5a6fa;
    }
    
    .btn-right{
        margin-right: 10px;
        border-radius: 18px;
        padding: 7px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90px;
        border: 1px solid;
        font-size: 10px;
        background-color: white;
        border-color: #d5a6fa;
    }
    
    .btn-close{
        margin-right: 10px;
        border-radius: 18px;
        padding: 7px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 900px;
        border: 1px solid;
        font-size: 10px;
        background-color: white;
        border-color: #d5a6fa;
    }

    .wizard-bg {
        background-color: #ffffff;  
        margin: 100px auto;
        margin-top: 50px;
        padding: 40px;
        width: 70%;
        border: 1px solid;
        height: 100px auto;
        min-width: 195px;
        background-color: grey;
        border-radius: 18px;
        
    }

    .buttons-container{
        margin-bottom: -20px;
        margin-top: 40px;
        border: 1px solid;
        margin: 100px auto;
        margin-top: 40px;
        width: 70%;
        height: 23%;
        padding: 20px;
        margin-bottom: -20px;
        min-width: 195px;
        background-color: aquamarine;
        border-radius: 18px;
       
        
    
    }
    
    .account-button:hover {
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .account-button:focus {
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
      }

    .icons-wizard-right{
        margin-left: 10px;
    }
    
    .icons-wizard-left{
        margin-right: 10px;
    }

    .btn-left:hover{
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .btn-right:hover{
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .btn-close:hover{
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .btn-left:focus{
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
    }
    
    .btn-right:focus{
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
    }
    
    .btn-close:focus{
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
    }

}


@media (min-width: 993px) {
    .wizard-bg {
        background-color: #ffffff;  
        margin: 100px auto;
        margin-top: 50px;
        padding: 40px;
        width: 70%;
        border: 1px solid;
        height: 100px auto;
        background-color: grey;
        border-radius: 18px;
        
    }
    
    .btn-left{
        margin-right: 10px;
        border-radius: 18px;
        padding: 12px;
        margin-top: -8px;
        margin-bottom: -98px;
        width: 130px;
        border: 1px solid;
        background-color: white;
        border-color: #d5a6fa;
    }
    
    .btn-right{
        margin-right: 10px;
        border-radius: 18px;
        padding: 12px;
        margin-top: -120px;
        margin-bottom: -98px;
        width: 130px;
        border: 1px solid;
        background-color: white;
        border-color: #d5a6fa;
        margin-left: 10px;
    }
    
    .btn-close{
        margin-right: 10px;
        border-radius: 18px;
        padding: 12px;
        margin-top: -120px;
        margin-bottom: -98px;
        width: 130px;
        border: 1px solid;
        background-color: white;
        border-color: #d5a6fa;
    }
    
    .buttons-container{
        margin-bottom: -20px;
        margin-top: 40px;
        border: 1px solid;
        margin: 100px auto;
        margin-top: 40px;
        width: 70%;
        height: 23%;
        padding: 20px;
        margin-bottom: -20px;
        background-color: aquamarine;
        border-radius: 18px;
    }
    
    .account-button:hover {
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .account-button:focus {
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
      }
    
    .icons-wizard-right{
        margin-left: 10px;
    }
    
    .icons-wizard-left{
        margin-right: 10px;
    }

    .btn-left:hover{
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .btn-right:hover{
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .btn-close:hover{
        background: #d5a6fa;
        border-style: solid;
        border-color: #d5a6fa;
        color: white;
    }
    
    .btn-left:focus{
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
    }
    
    .btn-right:focus{
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
    }
    
    .btn-close:focus{
        background: #42006d;
        border-style: solid;
        border-color: #42006d;
        color: white;
    }
}