

.profileImagen{
    display: flex;
    width:300px;
    height:200px;
    margin:25px ;
    margin-top: 2px;

}

.accordionBar{
    margin: 30px;
    display: flex;
    width: 250px;
    height:100px;

}

.infoStudent{
    text-align: center;
    display: flex;
    width: 300px;
    margin:30px;
  }

.div{
    width: 380px;
    height: 680px;
    padding: 50px;
    margin: 5px;
}