.section-btn {
    background: transparent;
    border-radius: 10px;
    border: 1px solid #cacaca;
    color: #cacaca;
    font-size: 12px;
    font-weight: normal;
    padding: 8px 15px;
    transition: 0.5s;
    align-items: center;
    width: 12em;
    margin: 0 10px;
    flex-wrap: 1;
    flex-basis: 200;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;        
    }

.section-btn:hover {
    background: rgb(74, 74, 83);
    border-color: transparent;
}
