.image-container {
  position: relative;
  // background-image: url('#{$image-path}/tu-imagen.jpg'); // Utiliza una variable SASS para la ruta de la imagen
  background-size: cover;
  background-position: center;
  height: 100%; // Ajusta según tus necesidades

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 139, 0.7); // Azul oscuro con transparencia
    color: white; // Texto blanco
    padding: 10px; // Añade un poco de espacio alrededor del texto
    text-align: center; // Centra el texto
  }
}
.imagen-container {
  max-width: 100% ;
  max-height: 99vh ;
  margin: 0 auto;
}


.imagen {  
  width: 100% ;
  height: auto;
}

.rv_text-image-container{
  align-items: center;
}