.my-library {
  margin: 0 60px 0 60px;
  height: 100%;
  background-color: aliceblue;
}

.my-library-banner {
  height: 60px;
  background-color: #ff9696;
  color: white;
  font-size: 60px;
  padding: 8px 0;
  border-radius: 10px;
}

h2 {
  margin-left: 70px;
}

.my-library-options {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.my-library-options-content {
  float: left;
  padding: 0 !important;
  margin-right: 40px;
  color: #42006d;
}

.my-library-select-view {
  color: #42006d;
}

.my-library-body {
  min-height: 100%;
  padding: 40px 0 40px 0;
  display: flex;
}

.my-library-recent-views {
  height: 550px;
  width: 400px;
  padding: 20px;
  line-height: 20px;
  background-color: gray;
  border-radius: 10px;
  flex-direction: column;
}

.my-library-recent-views-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #42006d;
}

.my-library-all-books {
  height: 550px;
  width: 1356px;
  font-size: 20px;
  margin-left: 40px;
  background-color: gray;
  border-radius: 10px;
}

.recent-views .list-group-item {
  height: 50px;
  margin-top: 20px;
  border-radius: 10px !important;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.books-table {
  padding-left: 20px !important;
  margin: 0;
}

.books-table tr {
  line-height: 45px;
}

.my-library-all-books-view-2 {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.small-book-card {
  width: 185px;
  height: 175px;
  padding: 10px;
  border-radius: 10px;
}

.my-library-all-books-view-3 {
  display: flex;
  justify-content: space-between;
}

.large-book-card {
  width: 230px;
  height: 510px;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.large-book-card-body {
  padding-top: 10px;
  padding-bottom: 0;
}

.large-book-card-description {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.carousel-books {
  width: 100%;
}

.carousel-books-item {
  padding: 20px 40px 20px 40px;
}

.carousel-books-stack {
  justify-content: start;
  gap: 20px;
}

.carousel-control-prev {
  justify-content: start;
}

.carousel-control-next {
  justify-content: end;
}
