.custom-group-title
  color: grey
  text-align: left

.group
  scroll-snap-type: x mandatory
  overflow-y: scroll
  overflow-x: hidden
  height: 100%
  background-color: white
  scroll-snap-align: center

  .group-centered-row
    display: flex
    justify-content: center

  .col-3
    text-align: center

  .col-8
    @media (max-width: 684.98px)
      width: 100%

  .col-12
    width: 100%
    display: block
    justify-content: unset
    align-items: unset

  &::-webkit-scrollbar
    width: 7px

  &::-webkit-scrollbar-thumb
    background-color: transparent
    border: none
    box-shadow: none

    &:hover
      background-color: transparent

  &::-webkit-scrollbar-track
    background-color: transparent
    border: none
    margin: 0
    box-shadow: none

  .custom-input-search
    border: none
    outline: none
    box-shadow: none

  .mobile-below-tap-group
    .position_side
      @media (min-width: 684.98px)
        margin-top: 20px
        padding-bottom: 50px  
    @media (max-width: 684.98px) 
      width: 100%
      margin-top: 10px
      padding-left: 3rem
      padding-right: 3rem 
      margin-bottom: 9rem     
  
  
.button-search-library 
  &:hover 
    background-color: #a9def9
   
.content_group
  max-width: 1100px
  width: 100%
  margin: 20px auto
  padding-left: 2rem
  @media (max-width: 684.98px)
    width: 100%
    padding-left: 1rem
    margin-bottom: 4rem
  &.mx-auto
    margin-left: auto
    margin-right: auto


.sidenav.col-12 .content_group
  padding-left: 0
  padding-right: 0
  margin-left: auto
  margin-right: auto

.sidenav.col-8 .content_group
  margin-left: 0
  margin-right: 0

.button-search-library, .button-edit-library
  background-color: #a9def9 !important 
  border-color: #a9def9 !important 
  color: #000000 !important 

  &:hover, &:active, &:focus
    background-color: #a9def9 
    border-color: #a9def9 
    color: #000000 
    
.nav-link 
  background-color: #ffffff

.nav-item .nav-link.active
  background-color: #b9d4ff