.custom-group-title {
  color: grey;
  text-align: left;
}

.group {
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  background-color: whitesmoke;
}

.group {
  scroll-snap-align: center;
}

.group::-webkit-scrollbar {
  width: 7px;
}

.group::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.group::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.group::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  margin: 0;
  box-shadow: none;
}
.custom-input-search {
  border: none;
  outline: none;
  box-shadow: none;
}
.button-search-library:hover {
  background-color: #a9def9;
}

.mobile-below-tap-group {
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .content_group {
    padding-left: 2rem;
  }
}
@media (max-width: 575.98px) {
  .mobile-below-tap-group {
    width: 100%;
    margin-top: 10px;
    margin-left: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
  }

  .col-8 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .content_group {
    padding-left: 4rem;
  }
}

.custom-add-group-button {
  border: none;
  background-color: transparent;
}
