
h4 {
    color: grey;
    text-align: left;
  }
  
  .sidebar-mobile {
    display: block;
  }
  

  @media screen and (min-width: 992px) {
    .sidebar-mobile {
      display: none;
    }
  }
  
  .sidebar-desktop {
    display: none;
  }
  
  @media screen and (min-width: 992px) {
    .sidebar-desktop {
      display: block;
    }
  }
  
  @media (max-width: 991.98px) {
    .sidenav.col-sm-8 {
      flex-basis: 91.666667%;
      max-width: 91.666667%;
    }
  }
  
  @media only screen and (max-width : 900px) {
  .content_group{
    padding-right: 3rem;
  }
  }
  .custom-padding {
    padding-right: 2rem;
  }
  
  
.group {
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.group {
  scroll-snap-align: center;
}

.group::-webkit-scrollbar {
  width: 7px;
}

.group::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.group::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.group::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  margin: 0;
  box-shadow: none;
}

@media screen and (min-width: 900px) and (max-width: 1260px) {
  .content_group {
    padding-right: 4rem;
  }
}
