.custom-input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  border-radius: 0;
  width: 100%;
  font-weight: bold;
  font-size: large;
}

@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
  }

  .modal-body > div {
    width: 100%;
    margin-bottom: 10px;
  }
}
