.audioplayer {
  width: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 90px;
}
.audio-container {
  padding: 0.5vw;
  width: 100%;
  background-color: transparent;
  text-align: center;
}
