.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
   
  
  }
  
  .react-grid-layout {
    border: 3px solid red;
    width: 1450px;
    height: 270px !important;
  
  }
  
  .react-grid-item {
    background-color: lavender;
  
  }