.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
   
  
  }
  
  .react-grid-layout {
    border: 3px solid red;
    width: 1080px;
    height: 270px !important;
  
  }
  
  .react-grid-item {
    background-color: lavender;
  
  }


  
  @media  (max-width: 1500px){
    
    .react-grid-layout{
      width: 1050px;
    }
  }

  @media  (max-width: 1450px){
    
    .react-grid-layout{
      width: 1010px;
    }
  }

  @media  (max-width: 1400px){
    
    .react-grid-layout{
      width: 965px;
    }
  }

  @media  (max-width: 1350px){
    
    .react-grid-layout{
      width: 925px;
    }
  }
  
  @media screen and (max-width: 1300px){
    
    .react-grid-layout{
      width: 910px;
      height: 100vh 1fr;
    }
  }


  @media screen and (max-width: 1275px){
    .react-grid-layout{
      width: 890px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1269px){
    .react-grid-layout{
      width: 860px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1250px){
    .react-grid-layout{
      width: 825px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1200px){
    .react-grid-layout{
      width: 790px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1150px){
    .react-grid-layout{
      width: 755px;
      height: 300px !important
    }
  }

@media screen and (max-width: 1000px){
    .react-grid-layout{
      width: 590px;
    }
  }


  @media (max-width: 970px){
    
    .react-grid-layout{
      width: 550px;
    }
  }

  @media (max-width: 950px){
    
    .react-grid-layout{
      width: 550px;
    }
  }

  @media (max-width: 925px){
    
    .react-grid-layout{
      width: 525px;
    }
  }

  @media (max-width: 900px){
    
    .react-grid-layout{
      width: 510px;
    }
  }


  @media (max-width: 875px){
    
    .react-grid-layout{
      width: 510px;
    }
  }

  @media (max-width: 850px){
    
    .react-grid-layout{
      width: 520px;
    }
  }

  @media (max-width: 800px){
    
    .react-grid-layout{
      width: 505px;
    }
  }

  @media (max-width: 775px){
    
    .react-grid-layout{
      width: 480px;
    }
  }

  @media screen and (max-width: 750px){
    .react-grid-layout{
      width: 470px;
    }
  }


  @media screen and (max-width: 725px){
    .react-grid-layout{
      width: 430px;
    }
  }

  @media screen and (max-width: 700px){
    .react-grid-layout{
      width: 400px;
    }
  }


  @media screen and (max-width: 650px){
    .react-grid-layout{
      width: 390px;
    }
  }

  @media screen and (max-width: 625px){
    .react-grid-layout{
      width: 370px;
    }
  }

  @media screen and (max-width: 600px){
    .react-grid-layout{
      width: 420px;
    }
  }

  @media screen and (max-width: 575px){
    .react-grid-layout{
      width: 400px;
    }
  }

  @media screen and (max-width: 550px){
    .react-grid-layout{
      width: 364px;
    }
  }

  @media screen and (max-width: 500px){
    .react-grid-layout{
      width: 300px;
    }
  }

  @media screen and (max-width: 450px){
    .react-grid-layout{
      width: 267px;
      
    }
  }

  @media screen and (max-width: 415px){
    .react-grid-layout{
      width: 258px;
      
    }
  }

  @media screen and (max-width: 400px){
    .react-grid-layout{
      width: 236px;
    }
  }

  @media screen and (max-width: 395px){
    .react-grid-layout{
      width: 228px;
     
    }
  }

  @media screen and (max-width: 380px){
    .react-grid-layout{
      width: 220px;
    }
  }

  @media screen and (max-width: 365px){
    .react-grid-layout{
      width: 210px;
    }
  }


  @media screen and (max-height: 1300px){
    .react-grid-layout {
      height: 575px !important;
    }
  }
  @media screen and (max-height: 1100px){
    .react-grid-layout {
      height: 475px !important;
    }
  }

  @media screen and (max-height: 951px){
    .react-grid-layout {
      height: 355px !important;
    }
  }
  @media screen and (max-height: 920px){
    .react-grid-layout {
      height: 350px !important;
    }
  }
  
  @media screen and (max-height: 850px){
    .react-grid-layout {
      height: 350px !important;
    }
  }

  @media screen and (max-height: 770px){
    .react-grid-layout {
      height: 345px !important;
    }
  }

  @media screen and (max-height: 670px){
    .react-grid-layout {
      height: 350px !important;
    }
  }