.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.custom-title {
  font-size: 1rem;
  font-weight: bold;
}

.custom-text {
  font-size: 0.9rem;
  color: rgb(63, 63, 63);
}

.card:hover {-webkit-transform:scale(1.1);transform:scale(1.1);}

.custom_section_item{
  transition: 300ms ease-in-out;
}
.custom_section_item + .custom_section_item{
margin-left: -10%;
}

.custom_section_item:hover{
  transform: rotate(-4deg);
}
.custom_section_item:hover~ .custom_section_item{
  z-index: 1;
  translate: 60px;
}

@media (min-width: 1300px) and (max-width: 3000px) {
  .custom_section_book {
    display: flex;
    gap: 80px;
    columns: auto 4rem;
    justify-content: center;
  }
  
}
@media (min-width: 500px) and (max-width: 1300px) {
  .custom_section_book {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    columns: auto 4rem;
    justify-content: center;
  }
  
}