.clamp-text
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis
  white-space: normal

.custom-title
  font-size: 1rem
  font-weight: bold
  margin: 1rem

.custom-text
  font-size: 0.9rem
  color: rgb(63, 63, 63)

.Book-card
  width: 100%
  border-radius: 5px,
  border: none,

.card-img
  width: auto
  height: 160px
  border-radius: 0px

.Book-card:hover
  -webkit-transform: scale(1.1)
  transform: scale(1.1)

.custom_section_book
  justify-content: center

@media (min-width: 1300px) and (max-width: 3000px)
  .custom_section_book
    display: flex
    gap: 80px
    justify-content: center

  .custom_section_item_Recent
    transition: 300ms ease-in-out

  .custom_section_item_Recent + .custom_section_item_Recent
    margin-left: -10%

  .custom_section_item_Recent:hover
    transform: rotate(-4deg)

  .custom_section_item_Recent:hover ~ .custom_section_item_Recent
    z-index: 1
    translate: 60px

@media (min-width: 850px) and (max-width: 1300px)
  .custom_section_book
    display: flex
    flex-wrap: wrap
    justify-content: center

  .custom_section_item_Recent
    margin-left: 4.5rem

@media (min-width: 350px) and (max-width: 850px)
  .custom_section_book
    display: flex
    justify-content: center

  .custom_section_item_Recent
    margin-left: 2.5rem
