.custom-book-builder-select
  appearance: auto
  width: 100%
  margin-top: 15px
//   margin-bottom: 15px
  border-radius: 5px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

  &:focus
    box-shadow: none