.account-button {
  width: 50%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-color: #d5a6fa;
  background: #d5a6fa;
  color: white;
  min-width: 6vw;
}

.account-button:hover {
  background: #d5a6fa;
  border-style: solid;
  border-color: #d5a6fa;
  color: white;
}

.account-button:focus {
  background: #42006d;
  border-style: solid;
  border-color: #42006d;
  color: white;
}

.account-button-focused {
  background: #42006d;
  border-style: solid;
  border-color: white;
}
