.logo-funread {
  width: 260px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-options {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-options-content {
  float: left;
  margin-right: 20px;
  text-align: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #bb88e2;
}

.dashboard-options-content:hover {
  color: #793da7;
}

.main-header {
  margin: 40px 40px 80px 60px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}



.search-hover {
  border: none;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  background-image: url('./s-icon.png');
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 20px;
  transition: all 0.5s;
  float: left;
  margin-right: 20px;
}
.search-hover:hover {
  width: 300px;
  padding-left: 50px;
}