.stat-card {
     border-radius: 12px;
     padding: 15px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
     flex: 1;
     min-width: 150px;
     height: 172px;
     margin: .2%;
     align-items: center;
     justify-content: center;
     text-align: center;
}

.stat-card.user-info {
     background: linear-gradient(to bottom right, #e1e4ff, #ebeefb);
     border-left: 3px solid #395bf1;
     border-bottom: 4px solid #395bf1;

}

.stat-card.ranking-info {
     background: linear-gradient(to bottom right, #ffeaf3, #fff0f6);
     border-left: 3px solid #f72585;
     border-bottom: 4px solid #f72585
}

.stat-card.quizzes-info {
     background: linear-gradient(to bottom right, #e9faff, #f0fdff);
     border-left: 3px solid #4cc9f0;
     border-bottom: 4px solid #4cc9f0
}

/* Header */
.dashboard-header {
     background-color: rgb(0, 0, 0);
     padding: 15px 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
     position: sticky;
     top: 0;
     left: 20px;
     width: 300px;
     border-radius: 12px;
     z-index: 100;
     width: 100%;
     height: 100%;
   }
   
   .stat-card.header {
     display: flex;
     justify-content: center;
     min-width: 27%;
   }
   
   .logo-image {
     min-width: 70%;
     max-width: 85%;
   }
   .header {
     padding: 0;
   }

.stat-icon {
     width: 50px;
     height: 50px;
     padding: 10px;
     border-radius: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 23px;
     color: white;
}

.stat-icon.level {
     background-color: #4361ee;
}

.stat-icon.ranking {
     background-color: #f72585;
}

.stat-icon.quizzes {
     background-color: #4cc9f0;
}

.stat-info {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.stat-info h3 {
     margin: 10px 0 5px 0;
     font-size: 20px;
     color: #000000;
}

.stat-info p {
     margin: 0;
     font-size: 18px;
     font-weight: 600;
}

.progress-bar {
     height: 6px;
     background-color: #e0e0e0;
     border-radius: 3px;
     margin-top: 8px;
     overflow: hidden;
}

.progress {
     height: 100%;
     background-color: #4361ee;
}

.progress-text {
     font-size: 15px;
     color: #666;
     display: block;
     margin-top: 5px;
}


@media (max-width: 768px) {

     .stat-card.user-info {
          flex: 1 0 100%;
     }

     .stat-card {
          min-height: 100px;
     }

     .stat-card>.stat-info p {
          font-size: 14px;
     }

}

@media (max-width: 576px) {

     .stat-card {
          max-height: 135px;
     }

}

