.custom-navbar-buttons
  padding: 0.5rem
  background-color: rgb(242, 243, 244)
  display: flex
  width: 100%
  overflow: hidden
  justify-content: space-between


.buttons-navbar
  display: flex
  flex-wrap: wrap
  max-width: 100%

@media only screen and (max-width: 580px)
  .buttons-navbar
    width: 75%

.custom-navbar-save-buttom
  background-color: transparent
  color: rgb(206, 189, 242)
  border: none