#cardAnswer {
   max-width: 500px; /*Se modifica luego al agregar los 2 items (puntaje y check) */
  height: 80px;
  background-color: #b3edda;
  border-radius: 5px;
  padding-left: 1em;
  display: flex;
  place-items: center;
  border: 2px solid rgb(91, 179, 150);
}

#iconButton {
  height: 65%;
  background-color: rgb(68, 148, 121);
  border-color: transparent;
  border-radius: 4px;
  /*border: 1px solid #1b5844;*/
  box-shadow: 2px 2px rgb(47, 104, 85);
  margin-right: 7px;
}

input{
  width: 300px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #000000;
  
}

#puntos{
  width: 50px;
  border:none;
  margin-left: 15px;
}

.form-check{
  margin-left: 10px;
  margin-right: 10px;
}