
.preview-image
    width: 980px
    height: 560px
    border-radius: 10px
    margin-bottom: 10px
    box-shadow: 0 2px 25px rgb(182, 171, 171)

.preview-controls
    display: flex
    justify-content: space-between
    align-items: center

.control-button
    margin: 0 30px
    margin-top: 17px

.book-preview-container
    position: relative

.control-button
    background-color: #A9DEF9
    color: #4a4747
    padding: 10px 15px
    border: none
    border-radius: 12%
    height: 50px
    width: 90px
    cursor: pointer
    transition: background-color 0.3s, box-shadow 0.3s
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 255, 255, 0.9) inset

.control-button:disabled
    background-color: #ccc
    cursor: not-allowed

.control-button:hover:not(:disabled)
    background-color: #D0F4DE
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 0 15px rgba(255, 255, 255, 1) inset

@media (max-width: 1500px)
    .preview-image
        width: 800px
        height: 550px

@media (max-width: 1200px)
    .preview-image
        width: 800px
        height: 550px

@media (max-width: 1000px)
    .preview-image
        width: 790px
        height: 550px

@media (max-width: 800px)
    .preview-image
        width: 100%
        height: auto

@media (max-width: 600px)
    .preview-image
        width: 100%
        height: auto

    .control-button
        margin: 0 10px
        margin-top: 17px
        padding: 8px 12px

@media (max-width: 400px)
    .preview-image
        height: 400px
