.create-book-page2-book-information-container {
  width: 75%;
  margin-left: min(20px, 4.2%);
  background-color: #ffffff;
  padding: min(20px, 4.2%) min(60px, 12.7%) min(20px, 4.2%) min(60px, 12.7%);
  border-radius: 20px;
  overflow-y: auto;
}

.create-book-page2-book-information-content {
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: min(40px, 12%);
}

.create-book-page2-book-information-content-title {
  font-weight: bold;
}

.create-book-page2-book-information-content-body {
  text-align: justify;
}

.create-book-page2-information-image {
  margin-left: min(15px, 4%);
  float: right;
  height: 350px;
  width: 40%;
  background: #eab676;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
