aenum==3.1.11
Django==3.2.23
djangorestframework==3.13.1
djangorestframework_simplejwt==5.3.0
drf_extra_fields==3.4.1
PyJWT==2.8.0
django-cors-headers==3.11.0
Pillow==9.5.0
whitenoise==6.0.0
mysqlclient==2.1.1
pygame==2.5.1
gTTS==2.3.2
googletrans==3.0.0
python-dotenv==1.0.0
torch==2.0.1
tiktoken==0.3.3
moviepy==1.0.3
librosa==0.10.1

#Si ocurre algun problema con los requirements usar estos dos comandos
#pip install git+https://github.com/openai/whisper.git
#pip install --upgrade --no-deps --force-reinstall git+https://github.com/openai/whisper.git