.draggable-book-card
    width: 100%
    height: 3rem

    .justify-card-content
        display: flex
        justify-content: start
        align-items: center

        .author
            color: gray
            font-size: 14px
            font-style: italic
    
    .draggable-book-details
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-left: 20px

    