.memorygame{
    padding: 40px 5%;
    height: 780px;
    overflow-y: scroll;
    position: relative;
    background: #d5a6fa;
    justify-content: center;
}
.card-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
}
.card{
    background: #d5a6fa;
    border: #d5a6fa;
}
.front{
    height: 135px;
    width: 135px;
}
.back{
    height: 135px;
    width: 135px;
}
.button{
    background-color:#d5a6fa;
    border-radius: 10%;
    border-color: blueviolet;
    color:#000000;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}