.container-textImage{
    display: block;
    width: 100%;
    height: auto;
    background: #ffff;
    padding: 5vh;
}
.image{
    width: 100%;
    height: auto;
}
.image-col{
    text-align: center;
}
.text-col{
    font-size: 2vh;
}