.custom-unique-selection-background {
  background-image: url('../../../../../public/imagenes/quiz/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-unique-selection-container {
  padding: 20px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  border: 2px solid #016f6f;
  border-radius: 10px;
  background-color: rgba(7, 95, 105, 0.258);
  transition: transform 0.3s;
}

.responses-unique-selection-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 100%;
  place-items: center;
}

@media (max-width: 576px) {
  .responses-unique-selection-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  #cardQuestions {
    margin: 52px;
  }

  .custom-unique-selection-container {
    transform: scale(0.8);
  }
}

#cardQuestions {
  place-items: center;
  padding: 1em;
  border: 2px solid rgb(91, 179, 150);
  border-radius: 5px;
  background-color: #b3edda;
}

.custom-input {
  width: 70%;
  padding: 10px;
  margin-left: 2em;
  background-color: transparent;
  border: none;
  font-size: 17px;
  outline: none;
  text-align: center;
}

.custom-add-image {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 170px;
  width: 250px;
  cursor: pointer;
  background-color: #016f6f;
  box-shadow: 0 0 5px #003636;
}

.custom-unique-selection-button {
  padding: 20px;
  height: 50px;
  background-color: #ff99c8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: visible;
  outline: none;
  width: fit-content;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.custom-unique-selection-button:hover {
  background-color: #a9def9;
  color: #000;
  transform: scale(1.1);
}

.button-unique-selection-content {
  display: flex;
  align-items: center;
}

.button-unique-selection-text {
  padding-left: 10px;
  display: none;
}

.custom-unique-selection-button:hover .button-unique-selection-text {
  display: block;
}
