.buttonadd{
    text-align: left;
}

.my-addImage-options{
    text-align: left;
}

.add-image-banner-option-button {
    margin-left: 25px;
    background: turquoise;
    box-shadow: none !important;
    border-radius: 15px;
    
  }

.add-image-banner-buttons-container {
    margin-left: auto;
  }

.my-images-all-images-view-1{
  margin: auto;
}

.image-table{
  padding-left: 20px !important;
  margin: 0;
}

.my-image-all-image{
  height: 100%;
  width: 100%;
  max-width: 75%;
  font-size: 20px;
  background-color: #f9fafe;
  overflow-y: auto;
  margin: auto;
}

.edit-image-button{
  background-color: green;
}