/* .carousel{
    margin-left: 1rem;
    text-align: center;
  }

  @media screen and (min-width:576px ){
    .carousel-inner{
      display: block;
      justify-content: center;
  
    }
  
    .carousel-item{
      display: block;
      margin-left: 0;
      flex: 0 0 calc(100%/3);
    }
  
    .img-wrapper{
    height: 17vw;
  
  }
  }

  .carousel-inner{
    padding: 2em;
  }


  .btn-secondary{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, .18);
  
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  }

  .carousel-control-prev, .carousel-control-next{
    margin-top: 8rem;
    width: 1rem;
    height: 2rem;
    background-color: grey;
    /* border-radius: 20%; */
/* top: 50%; */
/* transform: translateY(200%); 
    opacity: 0;
    }*/

/*@media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
    .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
    .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
    .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
    .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  } */

/* ---------------- */
/* .pagination {
    justify-content: center;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
  } */

.page {
  position: relative;
  display: block;
  margin: 0 2px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: #007bff;
  text-decoration: none;
  margin-left: 0.5rem;
}

.page-item a.page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}

.custom_section_navbar_carrusel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: space-between;
  gap: 20px;
}

.custom_section_item_page {
  scroll-snap-align: center;
}

.custom_section_navbar_carrusel::-webkit-scrollbar {
  height: 7px;
}

.custom_section_navbar_carruselcustom_section::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.custom_section_navbar_carrusel::-webkit-scrollbar-thumb:hover {
  background-color: rgb(172, 172, 172);
}

.custom_section_navbar_carrusel::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  margin: 0;
  box-shadow: none;
}

@media (min-width: 2600px) and (max-width: 3000px) {
  .NavbClass {
    width: 89%;
  }
}
@media (min-width: 2450px) and (max-width: 2600px) {
  .NavbClass {
    width: 88%;
  }
}
@media (min-width: 2250px) and (max-width: 2450px) {
  .NavbClass {
    width: 87.5%;
  }
}
@media (min-width: 2000px) and (max-width: 2250px) {
  .NavbClass {
    width: 86%;
  }
}
@media (min-width: 1800px) and (max-width: 2000px) {
  .NavbClass {
    width: 85%;
  }
}
@media (min-width: 1600px) and (max-width: 1800px) {
  .NavbClass {
    width: 83%;
  }
}
@media (min-width: 1450px) and (max-width: 1600px) {
  .NavbClass {
    width: 81%;
  }
}
@media (min-width: 1285px) and (max-width: 1450px) {
  .NavbClass {
    width: 78.5%;
  }
}
@media (min-width: 1190px) and (max-width: 1285px) {
  .NavbClass {
    width: 76%;
  }
}
@media (min-width: 1130px) and (max-width: 1190px) {
  .NavbClass {
    width: 75%;
  }
}
@media (min-width: 1000px) and (max-width: 1130px) {
  .NavbClass {
    width: 73%;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .NavbClass {
    width: 70%;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .NavbClass {
    width: 67%;
  }
}
@media (min-width: 766px) and (max-width: 800px) {
  .NavbClass {
    width: 62%;
  }
}
@media (min-width: 560px) and (max-width: 766px) {
  .NavbClass {
    width: 89%;
  }
}
@media (min-width: 470px) and (max-width: 560px) {
  .NavbClass {
    width: 87%;
    padding-right: 1rem;
  }
}
@media (min-width: 350px) and (max-width: 470px) {
  .NavbClass {
    width: 84%;
    padding-right: 3rem;
  }
}
