h4 {
  color: grey;
  text-align: left;
}
.library{
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
  overflow-x: hidden;  
  height: 100vh;
  background-color: whitesmoke;
}


.library{
  scroll-snap-align: center;
}

.library::-webkit-scrollbar {
  width: 7px;
}

.library::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.library::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.library::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  margin: 0;
  box-shadow: none;
}


.sidebar-mobile {
  display: block;
}

.custom-input-search {
  border: none;
  outline: none;
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  .sidebar-mobile {
    display: none;
  }
}

.sidebar-desktop {
  display: none;
  margin-right: 3rem;
 }

@media screen and (min-width: 992px) {
  .sidebar-desktop {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .sidenav.col-sm-9 {
    flex-basis: 91.666667%;
    max-width: 91.666667%;
    margin-left: 100px;
    justify-content: center;
  }
  
}

 .sidenav.col-sm-9 {
    margin-left: 90px;
    justify-content: center;
    padding-right: 2rem;
  }
.custom-padding {
  padding-right: 2rem;
}

.button-search-library{
  outline-style: solid;
  outline-color:#A9DEF9;
  background-color: white;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-search-library:hover {background-color: #A9DEF9;}

@media (min-width: 200px) and (max-width: 1300px) {
  .sidenav.col-sm-9 {
    margin-left: 90px;
    justify-content: center;    
  }
    .sidenav.col-12 {
    margin-left: 90px;
    justify-content: center;
  }
  .content_library {
    padding-right: 4rem;
  }
}

