.custom-library-title 
  color: grey
  text-align: left

.library 
  scroll-snap-type: x mandatory
  overflow-y: scroll
  overflow-x: hidden
  height: 100vh
  background-color: whitesmoke
  scroll-snap-align: center

  &::-webkit-scrollbar 
    width: 7px

  &::-webkit-scrollbar-thumb 
    background-color: transparent
    border: none
    box-shadow: none

    &:hover 
      background-color: transparent

  &::-webkit-scrollbar-track 
    background-color: transparent
    border: none
    margin: 0
    box-shadow: none

.custom-input-search 
  border: none
  outline: none
  box-shadow: none

@media screen and (max-width: 992px) 
  .content_library 
    padding-left: 2rem

.button-search-library 
  outline-style: solid
  outline-color: #a9def9
  background-color: white
  color: #000000
  border: none
  border-radius: 5px
  cursor: pointer

  &:hover 
    background-color: #a9def9

.mobile-below-tap-library 
  height: 100vh

@media (max-width: 575.98px) 
  .mobile-below-tap-library 
    width: 100%
    margin-top: 10px
    margin-left: 3rem
    padding-left: 2rem
    padding-right: 3rem

  .col-8 
    flex: 0 0 91.666667%
    max-width: 91.666667%

  .content_library 
    padding-left: 4rem

// Estilos para el contenedor de vista del libro
.book-view-container
  position: fixed
  top: 0
  right: 0
  height: 100%
  width: 400px
  background: white
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3)
  transform: translateX(100%)
  transition: transform 0.3s ease-in-out
  z-index: 1000

  &.open
    transform: translateX(0)

  .book-view-content
    position: relative
    padding: 1rem

    .close-button
      position: absolute
      top: 10px
      right: 10px
      background: none
      border: none
      color: #333
      font-size: 1.2rem
      cursor: pointer

      &:hover
        color: #a9def9

// Estilos para el contenedor de BookBuilder
.book-builder-container
  position: fixed
  top: 0
  right: 0
  height: 100%
  width: 400px
  background: white
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3)
  transform: translateX(100%)
  transition: transform 0.3s ease-in-out
  z-index: 1000

  &.open
    transform: translateX(0)

    .close-button
      position: absolute
      top: 10px
      right: 10px
      background: none
      border: none
      color: #333
      font-size: 1.2rem
      cursor: pointer

// Estilos para el modal de vista previa
.preview-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.8)
  display: flex
  justify-content: center
  align-items: center
  padding: 20px
  z-index: 1100

.preview-content
  position: relative
  max-width: 80%
  max-height: 80%
  background-color: white
  padding: 1rem
  border-radius: 10px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)

.close-preview
  position: absolute
  top: 10px
  right: 10px
  background: none
  border: none
  font-size: 2rem
  color: #333
  cursor: pointer

  &:hover
    color: #a9def9
