.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
   
  
  }
  
  .react-grid-layout {
    border: 3px solid red;
    width: 540px;
    height: 70px !important;
  
  }
  
  .react-grid-item {
    background-color: lavender;
  
  }

  @media  (max-width: 1500px){
    
    .react-grid-layout{
      width: 521px;
    }
  }

  @media  (max-width: 1450px){
    
    .react-grid-layout{
      width: 503px;
    }
  }

  @media  (max-width: 1400px){
    
    .react-grid-layout{
      width: 484px;
    }
  }

  @media  (max-width: 1350px){
    
    .react-grid-layout{
      width: 465px;
    }
  }

  @media screen and (max-width: 1300px){
    
    .react-grid-layout{
      width: 450px;
    }
  }


  @media screen and (max-width: 1275px){
    .react-grid-layout{
      width: 450px;
      
    }
  }

  @media screen and (max-width: 1269px){
    .react-grid-layout{
      width: 425px;
    }
  }

  @media screen and (max-width: 1250px){
    .react-grid-layout{
      width: 410px;
      
    }
  }

  @media screen and (max-width: 1200px){
    .react-grid-layout{
      width: 395px;
    }
  }

  @media screen and (max-width: 1150px){
    .react-grid-layout{
      width: 380px;
    }
  }

@media screen and (max-width: 1000px){
    .react-grid-layout{
      width: 290px;
    }
  }

  
  @media (max-width: 970px){
    
    .react-grid-layout{
      width: 290px;
    }
  }

  @media (max-width: 950px){
    
    .react-grid-layout{
      width: 280px;
    }
  }

  @media (max-width: 925px){
    
    .react-grid-layout{
      width: 262px;
    }
  }

  @media (max-width: 900px){
    
    .react-grid-layout{
      width: 250px;
    }
  }

  
  @media (max-width: 875px){
    
    .react-grid-layout{
      width: 252px;
    }
  }

  @media (max-width: 864px){
    
    .react-grid-layout{
      width: 273px;
    }
  }

  @media (max-width: 850px){
    
    .react-grid-layout{
      width: 260px;
    }
  }

  @media (max-width: 800px){
    
    .react-grid-layout{
      width: 250px;
    }
  }

  @media (max-width: 775px){
    
    .react-grid-layout{
      width: 240px;
    }
  }

  @media screen and (max-width: 750px){
    .react-grid-layout{
      width: 230px;
    }
  }

  @media screen and (max-width: 725px){
    .react-grid-layout{
      width: 220px;
    }
  }

  @media screen and (max-width: 700px){
    .react-grid-layout{
      width: 208px;
    }
  }

  @media screen and (max-width: 650px){
    .react-grid-layout{
      width: 200px;
    }
  }


  @media screen and (max-width: 625px){
    .react-grid-layout{
      width: 185px;
    }
  }

  @media screen and (max-width: 600px){
    .react-grid-layout{
      width: 210px;
    }
  }

  @media screen and (max-width: 575px){
    .react-grid-layout{
      width: 200px;
    }
  }

  @media screen and (max-width: 550px){
    .react-grid-layout{
      width: 181px;
    }
  }

  @media (min-width:450px) and (max-width: 500px){
    .react-grid-layout{
      width: 150px;
    }
  }

  @media screen and (max-width: 450px){
    .react-grid-layout{
      width: 133px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 415px){
    .react-grid-layout{
      width: 125px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 400px){
    .react-grid-layout{
      width: 115px;
    
    }
  }

  @media screen and (max-width: 395px){
    .react-grid-layout{
      width: 115px;
    
    }
  }

  @media screen and (max-width: 380px){
    .react-grid-layout{
      width: 110px;
     
    }
  }

  @media screen and (max-width: 365px){
    .react-grid-layout{
      width: 105px;
      
    }
  }

  @media screen and (max-height: 1300px){
    .react-grid-layout {
      height: 570px !important;
    }
  }

  @media screen and (max-height: 1100px){
    .react-grid-layout {
      height: 480px !important;
    }
  }

 

  @media screen and (max-height: 951px){
    .react-grid-layout {
      height: 352px !important;
    }
  }
  @media screen and (max-height: 920px){
    .react-grid-layout {
      height: 350px !important;
    }
  }
  
  @media screen and (max-height: 850px){
    .react-grid-layout {
      height: 350px !important;
    }
  }

  @media screen and (max-height: 770px){
    .react-grid-layout {
      height: 350px !important;
    }
  }

  @media screen and (max-height: 670px){
    .react-grid-layout {
      height: 350px !important;
    }
  }