/* Container for the entire badges page */
.badges-page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Main content container (sidebar + badges) */
.badges-page-body {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 20px;
  /* Space between sidebar and badge grid */
}

/* Barra lateral de filtros */
.collection-sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 10px 10px;
  position: sticky;
  background-color: #ffffff;
  z-index: 10;
}


/* Opciones de filtro */
.filter-option {
  padding: 10px 15px;
  margin: 0px 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid #00000000;
}

.filter-option:hover {
  background-color: #007acc;
  color: white;
}

.filter-option.active {
  font-size: 14px;
  border: 1px solid #4361ee;
  background-color: #e3f2fd;
  color: #4361ee;
  padding: 10px 15px;
}

/* Insignias */

.achievements-container {
  padding: 20px;
}

.achievements-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.achievements-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.achievement-card {
  background-color: #f5f7fa;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  height: 220px;
}

.achievement-card.unlocked {
  background-color: #e3f2fd;
}

.achievement-card:hover {
  transform: translateY(-5px);
}

.achievement-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.achievement-icon.locked {
  opacity: 0.5;
}

.achievement-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}

.achievement-card p {
  margin: 0;
  font-size: 15px;
  color: #666;
}

.achievement-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement-icon > img {
  width: 56px;
  height: 56px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 992px) {


}

@media (max-width: 768px) {

}

@media (max-width: 576px) {


  .filter-option {
    font-size: 13px;
    padding: 8px;
  }

  .filter-option.active {
    font-size: 13px;
    padding: 8px;
  }
}
