.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    /* background: #61dafb; */
    max-height: 480px; 
   
  
  }
 
  
  .react-grid-layout {
    border: 3px solid red;
    width: 540px;
    height: 530px !important;
  
  }
  
  
  .react-grid-item {
    background-color: lavender;
  
  }

  
  @media  (max-width: 1500px){
    
    .react-grid-layout{
      width: 525px;
    }
  }

  @media  (max-width: 1450px){
    
    .react-grid-layout{
      width: 502px;
    }
  }

  @media  (max-width: 1400px){
    
    .react-grid-layout{
      width: 483px;
    }
  }

  @media  (max-width: 1350px){
    
    .react-grid-layout{
      width: 470px;
    }
  }

  @media screen and (max-width: 1300px){
    
    .react-grid-layout{
      width: 454px;
    }
  }


  @media screen and (max-width: 1275px){
    .react-grid-layout{
      width: 450px;
    }
  }

  @media screen and (max-width: 1269px){
    .react-grid-layout{
      width: 422px;
    }
  }

  @media screen and (max-width: 1250px){
    .react-grid-layout{
      width: 415px;
    }
  }

  @media screen and (max-width: 1200px){
    .react-grid-layout{
      width: 396px;
    }
  }

  @media screen and (max-width: 1150px){
    .react-grid-layout{
      width: 375px;
    }
  }

@media screen and (max-width: 1000px){
    .react-grid-layout{
      width: 255px;
    }
  }


  @media screen and (max-width: 1000px){
    .react-grid-layout{
      width: 300px;
    }
  }

  @media (max-width: 970px){
    
    .react-grid-layout{
      width: 292px;
    }
  }

  @media (max-width: 950px){
    
    .react-grid-layout{
      width: 280px;
    }
  }

  @media (max-width: 925px){
    
    .react-grid-layout{
      width: 267px;
    }
  }

  @media (max-width: 900px){
    
    .react-grid-layout{
      width: 257px;
    }
  }

  @media (max-width: 885px){
    
    .react-grid-layout{
      width: 250px;
    }
  }

  @media (max-width: 865px){
    
    .react-grid-layout{
      width: 275px;
    }
  }

  @media (max-width: 850px){
    
    .react-grid-layout{
      width: 262px;
    }
  }

  @media (max-width: 800px){
    
    .react-grid-layout{
      width: 255px;
    }
  }

  @media (max-width: 775px){
    
    .react-grid-layout{
      width: 243px;
    }
  }

  @media screen and (max-width: 750px){
    .react-grid-layout{
      width: 235px;
    }
  }

  @media screen and (max-width: 725px){
    .react-grid-layout{
      width: 225px;
    }
  }

  @media screen and (max-width: 700px){
    .react-grid-layout{
      width: 203px;
    }
  }

  @media screen and (max-width: 650px){
    .react-grid-layout{
      width: 196px;
    }
  }

  
  @media screen and (max-width: 600px){
    .react-grid-layout{
      width: 195px;
    }
  }

  @media screen and (max-width: 625px){
    .react-grid-layout{
      width: 190px;
    }
  }


  @media screen and (max-width: 600px){
    .react-grid-layout{
      width: 210px;
    }
  }

  @media screen and (max-width: 575px){
    .react-grid-layout{
      width: 200px;
    }
  }

  @media screen and (max-width: 550px){
    .react-grid-layout{
      width: 180px;
      
    }
  }

  @media (max-width: 500px){
    .react-grid-layout{
      width: 152px;
    }
  }

  @media (max-width: 465px){
    .react-grid-layout{
      width: 145px;
    }
  }

  @media screen and (max-width: 450px){
    .react-grid-layout{
      width: 133px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 415px){
    .react-grid-layout{
      width: 130px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 400px){
    .react-grid-layout{
      width: 117px;
    }
  }

  @media screen and (max-width: 395px){
    .react-grid-layout{
      width: 115px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 380px){
    .react-grid-layout{
      width: 110px;
    }
  }

  @media screen and (max-width: 365px){
    .react-grid-layout{
      width: 105px;
    }
  }


  @media screen and (max-height: 1300px){
    .react-grid-layout {
      height: 1150px !important;
    }
  }
  @media screen and (max-height: 1100px){
    .react-grid-layout {
      height: 950px !important;
    }
  }

  @media screen and (max-height: 951px){
    .react-grid-layout {
      height: 700px !important;
    }
  }
  @media screen and (max-height: 920px){
    .react-grid-layout {
      height: 690px !important;
    }
  }
  
  @media screen and (max-height: 850px){
    .react-grid-layout {
      height: 705px !important;
    }
  }

  @media screen and (max-height: 770px){
    .react-grid-layout {
      height: 700px !important;
    }
  }

  @media screen and (max-height: 670px){
    .react-grid-layout {
      height: 700px !important;
    }
  }