.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    /* background: #61dafb; */
    max-height: 480px; 
   
  
  }
 
  
  .ReactGridLayoutDoubleVertical {
    border: 3px solid red;
    width: 540px;
    height: 530px !important;
  
  }
  
  
  .react-grid-item {
    background-color: lavender;
  
  }

  
  @media  (max-width: 1500px){
    
    .ReactGridLayoutDoubleVertical{
      width: 525px;
    }
  }

  @media  (max-width: 1460px){
    
    .ReactGridLayoutDoubleVertical{
      width: 515px;
    }
  }
  @media  (max-width: 1450px){
    
    .ReactGridLayoutDoubleVertical{
      width: 502px;
    }
  }

  @media  (max-width: 1400px){
    
    .ReactGridLayoutDoubleVertical{
      width: 483px;
    }
  }

  @media  (max-width: 1350px){
    
    .ReactGridLayoutDoubleVertical{
      width: 470px;
    }
  }

  @media  (max-width: 1320px){
    
    .ReactGridLayoutDoubleVertical{
      width: 464px;
    }
  }

  @media screen and (max-width: 1300px){
    
    .ReactGridLayoutDoubleVertical{
      width: 454px;
    }
  }


  @media screen and (max-width: 1275px){
    .ReactGridLayoutDoubleVertical{
      width: 450px;
    }
  }

  @media screen and (max-width: 1269px){
    .ReactGridLayoutDoubleVertical{
      width: 422px;
    }
  }

  @media screen and (max-width: 1250px){
    .ReactGridLayoutDoubleVertical{
      width: 415px;
    }
  }
  @media screen and (max-width: 1220px){
    .ReactGridLayoutDoubleVertical{
      width: 410px;
    }
  }

  @media screen and (max-width: 1200px){
    .ReactGridLayoutDoubleVertical{
      width: 396px;
    }
  }

  @media screen and (max-width: 1160px){
    .ReactGridLayoutDoubleVertical{
      width: 382px;
    }
  }
  @media screen and (max-width: 1150px){
    .ReactGridLayoutDoubleVertical{
      width: 375px;
    }
  }

@media screen and (max-width: 1000px){
    .ReactGridLayoutDoubleVertical{
      width: 255px;
    }
  }


  @media screen and (max-width: 1000px){
    .ReactGridLayoutDoubleVertical{
      width: 300px;
    }
  }
  @media screen and (max-width: 985px){
    .ReactGridLayoutDoubleVertical{
      width: 294px;
    }
  }

  @media (max-width: 970px){
    
    .ReactGridLayoutDoubleVertical{
      width: 292px;
    }
  }

  @media (max-width: 955px){
    
    .ReactGridLayoutDoubleVertical{
      width: 284px;
    }
  }
  @media (max-width: 935px){
    
    .ReactGridLayoutDoubleVertical{
      width: 275px;
    }
  }
  @media (max-width: 925px){
    
    .ReactGridLayoutDoubleVertical{
      width: 267px;
    }
  }

  @media (max-width: 900px){
    
    .ReactGridLayoutDoubleVertical{
      width: 257px;
    }
  }

  @media (max-width: 885px){
    
    .ReactGridLayoutDoubleVertical{
      width: 250px;
    }
  }

  @media (max-width: 865px){
    
    .ReactGridLayoutDoubleVertical{
      width: 275px;
    }
  }

  @media (max-width: 850px){
    
    .ReactGridLayoutDoubleVertical{
      width: 258px;
    }
  }


  @media (max-width: 824px){
    
    .ReactGridLayoutDoubleVertical{
      width: 250px;
    }
  }
  @media (max-width: 839px){
    
    .ReactGridLayoutDoubleVertical{
      width: 264px;
    }
  }

  @media (max-width: 815px){
    
    .ReactGridLayoutDoubleVertical{
      width: 253px;
    }
  }

  @media (max-width: 800px){
    
    .ReactGridLayoutDoubleVertical{
      width: 253px;
    }
  }

  @media (max-width: 785px){
    
    .ReactGridLayoutDoubleVertical{
      width: 247px;
    }
  }
  @media (max-width: 779px){
    
    .ReactGridLayoutDoubleVertical{
      width: 244px;
    }
  }

  @media (max-width: 760px){
    
    .ReactGridLayoutDoubleVertical{
      width: 235px;
    }
  }

  @media screen and (max-width: 750px){
    .ReactGridLayoutDoubleVertical{
      width: 235px;
    }
  }

  @media screen and (max-width: 740px){
    .ReactGridLayoutDoubleVertical{
      width: 227px;
    }
  }

  @media screen and (max-width: 725px){
    .ReactGridLayoutDoubleVertical{
      width: 225px;
    }
  }

  @media screen and (max-width: 710px){
    .ReactGridLayoutDoubleVertical{
      width: 218px;
    }
  }

  @media screen and (max-width: 700px){
    .ReactGridLayoutDoubleVertical{
      width: 213px;
    }
  }

  @media screen and (max-width: 676px){
    .ReactGridLayoutDoubleVertical{
      width: 205px;
    }
  }
  @media screen and (max-width: 650px){
    .ReactGridLayoutDoubleVertical{
      width: 196px;
    }
  }

  
  @media screen and (max-width: 635px){
    .ReactGridLayoutDoubleVertical{
      width: 191px;
    }
  }

  @media screen and (max-width: 625px){
    .ReactGridLayoutDoubleVertical{
      width: 190px;
    }
  }

  @media screen and (max-width: 612px){
    .ReactGridLayoutDoubleVertical{
      width: 184px;
    }
  }

  @media screen and (max-width: 600px){
    .ReactGridLayoutDoubleVertical{
      width: 210px;
    }
  }
  @media screen and (max-width: 585px){
    .ReactGridLayoutDoubleVertical{
      width: 205px;
    }
  }

  @media screen and (max-width: 575px){
    .ReactGridLayoutDoubleVertical{
      width: 200px;
    }
  }

  @media screen and (max-width: 560px){
    .ReactGridLayoutDoubleVertical{
      width: 190px;
    }
  }

  @media screen and (max-width: 550px){
    .ReactGridLayoutDoubleVertical{
      width: 189px;
      
    }
  }

  @media screen and (max-width: 539px){
    .ReactGridLayoutDoubleVertical{
      width: 185px;
      
    }
  }

  @media screen and (max-width: 520px){
    .ReactGridLayoutDoubleVertical{
      width: 178px;
      
    }
  }

  @media screen and (max-width: 515px){
    .ReactGridLayoutDoubleVertical{
      width: 175px;
      
    }
  }
  @media (max-width: 500px){
    .ReactGridLayoutDoubleVertical{
      width: 152px;
    }
  }

  @media (max-width: 480px){
    .ReactGridLayoutDoubleVertical{
      width: 147px;
    }
  }
  @media (max-width: 470px){
    .ReactGridLayoutDoubleVertical{
      width: 143px;
    }
  }

  @media (max-width: 465px){
    .ReactGridLayoutDoubleVertical{
      width: 145px;
    }
  }

  @media (max-width: 457px){
    .ReactGridLayoutDoubleVertical{
      width: 140px;
    }
  }

  @media screen and (max-width: 451px){
    .ReactGridLayoutDoubleVertical{
      width: 135px;
    }
  }

  @media screen and (max-width: 435px){
    .ReactGridLayoutDoubleVertical{
      width: 130px;
    }
  }

  @media screen and (max-width: 425px){
    .ReactGridLayoutDoubleVertical{
      width: 129px;
    }
  }
  @media screen and (max-width: 415px){
    .ReactGridLayoutDoubleVertical{
      width: 125px;
    }
  }

  @media screen and (max-width: 400px){
    .ReactGridLayoutDoubleVertical{
      width: 117px;
    }
  }

  @media screen and (max-width: 395px){
    .ReactGridLayoutDoubleVertical{
      width: 113px;
      
    }
  }

  @media screen and (max-width: 380px){
    .ReactGridLayoutDoubleVertical{
      width: 108px;
    }
  }

  @media screen and (max-width: 365px){
    .ReactGridLayoutDoubleVertical{
      width: 103px;
    }
  }

  @media screen and (max-width: 347px){
    .ReactGridLayoutDoubleVertical{
      width: 95px;
    }
  }
  @media screen and (max-width: 340px){
    .ReactGridLayoutDoubleVertical{
      width: 93px;
    }
  }


  @media screen and (max-width: 301px){
    .ReactGridLayoutDoubleVertical{
      width: 65px;
    }
  }

  @media screen and (max-width: 280px){
    .ReactGridLayoutDoubleVertical{
      width: 60px;
    }
  }
  
  @media screen and (max-height: 1300px){
    .ReactGridLayoutDoubleVertical {
      height: 1150px !important;
    }
  }
  @media screen and (max-height: 1100px){
    .ReactGridLayoutDoubleVertical {
      height: 950px !important;
    }
  }

  @media screen and (max-height: 951px){
    .ReactGridLayoutDoubleVertical {
      height: 700px !important;
    }
  }
  @media screen and (max-height: 920px){
    .ReactGridLayoutDoubleVertical {
      height: 690px !important;
    }
  }
  
  @media screen and (max-height: 850px){
    .ReactGridLayoutDoubleVertical {
      height: 705px !important;
    }
  }

  @media screen and (max-height: 770px){
    .ReactGridLayoutDoubleVertical {
      height: 700px !important;
    }
  }

  @media screen and (max-height: 670px){
    .ReactGridLayoutDoubleVertical {
      height: 700px !important;
    }
  }