$widgetType: 'widgetType'

.divStyle {
  border: 1px solid #ccc
  padding: 10px
  width: 200px
  min-height: 100px
  resize: vertical
  overflow-y: auto
  opacity: 1 
}

.inputStyle {
  width: 100%
  border: none
  outline: none
  resize: none
}

