.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
  }
  
  .ReactGridLayoutCollage {
    border: 2px solid red;
    height: 213px !important;
  }
  
  @media screen and (max-height: 1300px){
    .ReactGridLayoutCollage {
      height: 370px !important;
    }
  }
  @media screen and (max-height: 1100px){
    .ReactGridLayoutCollage {
      height: 300px !important;
    }
  }

  @media screen and (max-height: 951px){
    .ReactGridLayoutCollage {
      height: 210px !important;
    }
  }

  .react-grid-item {
    background-color: lavender;
  }
  
  