.book-pages-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.book-pages-container-title-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: min(20px, 5%) 20px min(20px, 5%) 20px;
  height: 12%;
  flex-wrap: wrap;
}

.book-pages-title {
  font-size: min(30px, 3vh);
  font-weight: bold;
  margin: 0;
  color: #000000;
  line-height: 100%;
}

.book-pages-options {
  font-size: min(25px, 2.5vh);
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: #000000;
}

.book-pages-item-container {
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: #ffffff;
  height: 88%;
  overflow-y: auto;
}

.book-pages-item-active {
  height: 180px;
  width: 100%;
  padding: 20px;
  background-color: #c5c5c5;
}

.book-pages-item-inactive {
  height: 180px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
}

.book-pages-item-last-item {
  height: 180px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
}

.book-pages-item-content {
  height: 100%;
  width: 100%;
  box-shadow: none !important;
  background: #ffffff;
  border-radius: 20px;
  border-color: black;
  padding: 0;
}

.book-pages-item-content:hover {
  background: #ffffff;
  border-color: #c5c5c5;
}

.book-pages-item-content:focus {
  background: #ffffff;
  border-color: #c5c5c5;
}

.book-pages-item-add {
  height: 100%;
  width: 100%;
  box-shadow: none !important;
  background: #c5c5c5;
  border-radius: 20px;
  border-color: black;
  padding: 0;
  color: black;
}

.book-pages-item-add:hover {
  background: #c5c5c5;
  border-color: #c5c5c5;
  color: black;
}

.book-pages-item-add:focus {
  background: #c5c5c5;
  border-color: #c5c5c5;
  color: black;
}

.book-pages-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book-pages-button-bottom {
  border-radius: 20px;
  color: #000000;
  background: #c5c5c5;
  border-color: transparent;
  box-shadow: none !important;
  position: relative;
  bottom: 20px;
}

.book-pages-button-bottom:hover {
  border-radius: 20px;
  color: #000000;
  background: #c5c5c5;
  border-color: transparent;
  box-shadow: none !important;
}

.book-pages-button-bottom:focus {
  border-radius: 20px;
  color: #000000;
  background: #c5c5c5;
  border-color: transparent;
  box-shadow: none !important;
}

.book-pages-button-bottom:active {
  border-radius: 20px;
  color: #000000;
  background: #c5c5c5;
  border-color: transparent;
  box-shadow: none !important;
}

.book-pages-item-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.book-pages-item-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
