.tab-menu-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 16rem;
  background-color: var(--card);
  border-right: 1px solid var(--border);
}

.tab-menu-sidebar__header {
  padding: 1.5rem;
  border-bottom: 1px solid var(--border);
  background-color: #333;
}

.tab-menu-sidebar__logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.tab-menu-sidebar__logo-icon {
  padding: 0.5rem;
  background-color: var(--primary);
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--primary-foreground);
}

.tab-menu-sidebar__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--foreground);
}

.tab-menu-sidebar__nav_menu {
  flex: 1;
  padding: 1rem;
}

.tab-menu-sidebar__nav_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tab-menu-nav-link {
  width: 100%;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tab-menu-active {
  background-color: #007bff;
  color: white;
}

.tab-menu-inactive {
  color: var(--muted-foreground);
}

.tab-menu-inactive:hover {
  color: var(--primary);
  background-color: rgba(0, 123, 255, 0.1);
}

.tab-menu-sidebar__bottom_section {
  padding: 1rem;
  border-top: 1px solid var(--border);
}

.tab-menu-sidebar__logout_button {
  width: 100%;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #DC3545;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tab-menu-sidebar__logout_button:hover {
  color: #DC3545;
  background-color: rgba(220, 53, 69, 0.05);
}

.tab-menu-sidebar__icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.75rem;
}

.tab-menu-sidebar__avatar {
  margin-top: 200px;
  width: 120px;
}

.tab-menu-avatar_image {

}

.dashboard__logout-button {
  font-size: 2rem;
  font-weight: bold;
  color: #ff3b3b;
}

@media screen and (max-height: 1080px) {
  .tab-menu-sidebar__avatar {
    margin-top: 0;
  }
}










