.section_sharelibrary{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    /* width: 70rem; */
    height: 17rem; 
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(1)
    
};

.section_item{
    display: inline-block;
    width: 15rem;
    height: 15rem;
}

h4{
    margin-top: 4rem;
    margin-left: 5rem;
}