.add-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-page-header {
  height: 18%;
}

.add-page-body {
  display: flex;
  flex-direction: column;
  padding: 0 60px 80px 60px;
  height: 82%;
}

.add-page-banner {
  display: flex;
  height: min(60px, 10%);
  min-height: 40px;
  background-color: green;
  color: white;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.add-page-banner-title {
  padding-bottom: 5px;
  margin-bottom: 0;
  font-size: 32px;
  margin-left: min(20px, 2.4%);
  font-weight: bold;
}

.add-page-banner-buttons-container {
  margin-left: auto;
}

.add-page-banner-option-button {
  margin-left: 10px;
  background: #ffffff;
  box-shadow: none !important;
}

.add-page-banner-option-button:hover {
  margin-left: 10px;
  background: #ffffff;
  color: black;
  box-shadow: none !important;
}

.add-page-banner-option-button:focus {
  margin-left: 10px;
  background: #ffffff;
  color: black;
  box-shadow: none !important;
}

.add-page-banner-close-button {
  margin-left: 10px;
  background: transparent;
  box-shadow: none !important;
  border-radius: 20px;
  border-style: none;
}

.add-page-banner-close-button:hover {
  background: transparent;
  box-shadow: none !important;
  color: black;
}

.add-page-banner-close-button:focus {
  background: transparent;
  box-shadow: none !important;
  color: black;
}

.add-page-book-information-container {
  display: flex;
  flex-direction: row;
  height: 88%;
}

.add-page-pages-container {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  background: #ffffff;
}

.add-page-preview-container {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin-left: min(40px, 2.4%);
  background: #ffffff;
}

.add-page-template-widget-container {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  margin-left: min(40px, 2.4%);
  background: #ffffff;
}
