.add-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.add-page-header {
  height: 18%;
}

.add-page-body {
  display: flex;
  flex-direction: column;
  padding: 0 60px 80px 60px;
  height: 82%;
}

.add-page-banner {
  display: flex;
  height: min(60px, 10%);
  background-color: green;
  color: white;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.add-page-title {
  padding-bottom: 5px;
  margin-bottom: 0;
  font-size: min(32px, 4vh);
  margin-left: min(40px, 2.4%);
  font-weight: bold;
}

.add-page-book-information-container {
  display: flex;
  flex-direction: row;
  height: 88%;
}

.add-page-pages-container {
  width: 25%;
  border-radius: 20px;
  background: #ffffff;
  overflow-y: auto;
}

.add-page-pages-title {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 20px 20px 0 20px;
  color: #42006d;
}

.add-page-pages-item-active {
  height: 180px;
  width: 100%;
  padding: 20px;
  background-color: #c5c5c5;
}

.add-page-pages-item-inactive {
  height: 180px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
}

.add-page-pages-item-content {
  height: 100%;
  width: 100%;
  box-shadow: none !important;
  background: #ffffff;
  border-radius: 20px;
  border-color: black;
  padding: 0;
}

.add-page-pages-item-content:hover {
  background: #ffffff;
  border-color: #c5c5c5;
}

.add-page-pages-item-content:focus {
  background: #ffffff;
  border-color: #c5c5c5;
}

.add-page-preview-container {
  width: 75%;
  border-radius: 20px;
  margin-left: min(20px, 1.2%);
  background: #ffffff;
}
