.join-form {
    max-width: 480px;
    height: 100%;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .join-form-body {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 100%;
    padding: 0 12.5% 0 12.5%;
  }
  
  .join-form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .join-form-inputs {
    display: flex;
    flex-direction: column;
    height: calc(100% - 125px - 6%);
    justify-content: space-between;
  }
  
  .join-form-title {
    font-weight: bold;
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    color: white;
  }
  
  .join-form-subtitle {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: min(20px, 6%);
    color: white;
  }
  
  .join-form-control-lg {
    min-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #9D79BC;
    color: #9D79BC;
    box-shadow: none !important;
  }
  .join-form-control-lg ~ span{
    border: 2px solid #9D79BC;
    border-left: 0;
  }
  .join-form-control-lg:focus{
    border-color: #9D79BC;
  }
  
  .font-size {
    font-size: 14px;
    color: white;
  }
  
  .join-icons {
    margin-right: 10px;
    color: white;
  }
  
  .form-input-group {
    box-shadow: none !important;
  }
  
  .input-group-text {
    border-color: inherit;
  }
  
  .form-input-group-text-password {
    padding: 0;
    margin-left: 20px;
    background: white;
    border-radius: 0 10px 10px 0;
  }
  
  #passwordButton{
    color: #0000007b;
  }
  
  .join-form-password-button {
    font-size: 10px;
    background: transparent;
    border-style: none;
    box-shadow: none !important;
    transition: .3s;
  }
  .join-form-password-button:hover{
    background: transparent;
  }
  .join-form-password-button > svg:hover {
    transform: scale(1.3);
    transition: .3s;
  }
  .join-form-password-button > svg{
    transition: .3s;
  }
  
  .join-form-password-button:focus {
    background: transparent;
    border-style: none;
  }
  
  .join-form-password-button:active {
    background: transparent;
    border-style: none;
  }
  
  #submit-button {
    margin: 0 !important;
    height: 40px;
    min-height: 40px;
  }
  
  .join-form-button-empty {
    min-width: 100%;
    height: 12%;
    min-height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background: #5d4b6a;
    border-style: solid;
    border-color: #5d4b6a;
    color: white;
    box-shadow: none !important;
    pointer-events: none;
  }
  
  .join-form-button-filled {
    min-width: 100%;
    height: 12%;
    min-height: 40px;
    font-size: 14px;
    border-radius: 10px;
    background: #42006d;
    border-style: solid;
    border-color: #42006d;
    color: white;
  }
  
  @media (max-height: 640px) {
    .join-form-title{
      font-size: 20px;
    }
    .join-form-inputs{
      height: calc(100% - 65px);
    }
    .join-form-subtitle{
      display: none;
    }
  }
  @media (max-height: 520px) {
    .signup-form .signup-form-title{
      display: none;
    }
    .signup-form .signup-form-inputs{
      height: 90%;
    }
  } 
  