.size-card {
  max-height: 200px;
  overflow-y: auto;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 15px;
  justify-content: center;
  align-content: center;
}

.icon-grid i {
  font-size: 35px;
  text-align: center;
}
