.custom-book-builder-form-title {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  border-radius: 0;
  width: 100%;
  font-weight: bold;
  font-size: large;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-book-builder-form-title:focus {
  box-shadow: none;
  background-color: transparent;
}

.custom-book-builder-text-area {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-book-builder-text-area:focus {
  box-shadow: rgba(0, 0, 0, 0.1);
}

.custom-book-builder-select {
  appearance: auto;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-book-builder-select:focus {
  box-shadow: none;
}

/* Estilo para Radio Button marcado */
.custom-radio-button-wrapper.ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  ) {
  border: none;
  width: 120px;
  background-color: #ff99c8;
  color: #fff;
}

/* Estilo para Radio Button no marcado */
.custom-radio-button-wrapper:not(.ant-radio-button-wrapper-checked):not(
    .ant-radio-button-wrapper-disabled
  ) {
  width: 120px;
  background-color: #fff;
  color: #000;
}

/* Estilo para Radio Button marcado al resaltar con el cursor */
.custom-radio-button-wrapper.ant-radio-button-wrapper-checked:hover:not(
    .ant-radio-button-wrapper-disabled
  ) {
  color: #fff;
}

.error-message {
  color: #dc3545;
  font-size: 15px;
  margin-top: 8px;
}

.error-title {
  border-bottom: 1px solid red;
  box-shadow: 1px solid red;
}

.error {
  border: 1px solid red;
  box-shadow: 0 2px 2px red;
}

.custom-save-button {
  background-color: #000;
  width: 100px;
  border-radius: 30px;
  box-shadow: 0 4px 6px #a09a9a;
  border: none;
  color: #fff;
  padding: 5px;
  margin-bottom: 20px;
}

.custom-save-button:hover {
  background-color: #ff99c8;
  color: #000;
  border-color: #ff99c8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
