.fa-bookss 
	color: #D0F4DE
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.fa-user 
	color: #E4C1F9
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.fa-readmes 
	color: #FF99C8 
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.fa-BookPages 
	color: #A9DEF9
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.custum-card
	min-width: 6.8em
	justify-content: center
	flex-grow: 1

.custum-text-authors 
	text-align: center 
	// margin: left 
	padding-inline-start: 0.8em 

