.fa-bookss 
	color: blue 
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.fa-user 
	color: darkturquoise 
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.fa-readmes 
	color: rgb(6, 162, 30) 
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.fa-BookPages 
	color: orange 
	flex-wrap: nowrap 
	margin-left: 0.4em 
	margin-top: 0.3em 
.d-flex 
	flex-wrap: nowrap 
.custum-user 
	margin-left: 0.8em 
.custum-text-authors 
	text-align: left 
	margin: left 
	padding-inline-start: 0.8em 
