.text-selector-translate-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.text-selector-translate-container #customMenu{
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #171738a2;
    transition: .1s;
}
.text-selector-translate-menu-direction{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px #17173814;
}
.text-selector-translate-menu-direction::before,
.text-selector-translate-menu-direction::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: #FFFFFF; 
  border-radius: 50%; 
}
.text-selector-translate-menu-direction::before {
    top: 0;
    left: -1px;
  }
  .text-selector-translate-menu-direction::after {
    rotate: 90deg;
    top: -10px;
    right: 8.3px;
}

.text-selector-translate-container #customMenu button{
    border: none;
    position: relative;
    z-index: 1001;
    width: 90%;
    margin: 5px;
    background: #E9ECEF;
    border-radius: 5px;
    color: #212529;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s;
}
.text-selector-translate-container #customMenu button:hover{
    background: #564D80;
    color: #F7EBE8;
}
.text-selector-translate-container #customMenu hr{
    margin: 0;
    width: 80px;
}

.text-selector-translate-menu-active{
    opacity: 100%;
    pointer-events: all;
}
.text-selector-translate-menu-desactive{
   opacity: 0%;
   pointer-events: none;
   height: 15px;
}

.text-selector-translate-buttons-text-to-speech{
    display: flex;
    width: 95%;
}
.text-selector-translate-buttons-text-to-speech button:nth-child(1){
    margin-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.text-selector-translate-buttons-text-to-speech button:nth-child(2){
    width: 10% !important;
    margin-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.text-selector-translate-buttons-text-to-speech button:nth-child(2) span{
    float: left;
    transform: rotate(90deg);
}