.ImagesCarousel-img{
    width: 100%;
}

.carousel-width-heigt-fix{
    width: 100%!important;
    height: auto!important;
    margin: 0!important;
    border-radius: 0!important;
    overflow: hidden!important;
}
