
.carousel-container {
    max-width: 700px; 
    margin: 100px auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  }

  .carousel-inner img {
    height: 600px; 
    width: auto; 
  }
  .custom-text {
    color: white;
  }