.carousel-container {
  margin: 100px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 80%; 
  background-image: url('/public/12.png'); 
}

.carousel-inner img {
  height: 100%; 
  width: 100%;
  object-fit: cover; 
  display: block;
}

.custom-text {
  color: white;
}


@media (max-width: 400px) {
  .carousel-container {
    width: 106%;
  }

  .carousel-inner img {
    width: 200px;
    margin-top: 2px;
   
  }

}

@media (max-width: 600px) {
  
  .carousel-inner img {
    width: 200px;
    margin-top: 2px;
   
  }

}


@media (max-width: 200px) {
  
  .carousel-inner img {
    width: 200px;
    margin-top: 2px;
   
  }

}



