.tools-main-container 
	width: 100% 
	height: 100% 
	border: 1.5px solid 
	border-radius: 18px 
.tools-header 
	height: 10% 
	font-size: 4vh 
	font-weight: bold 
	border-bottom: 1.5px solid 
	margin: 10px auto 
	text-align: center 
	min-height: 60px 
.style-button-template 
	width: 110% 
	background-color: #d5a6fa 
	color: dimgray 
	border: none 
	border-radius: 1px 
	margin-right: -10% 
	&:hover 
		width: 110% 
		background-color: #e9e9e9 
		color: black 
		border: none 
	&:focus 
		background: transparent 
		border-style: none 
		color: black 
.style-button-widget 
	width: 110% 
	background-color: #d5a6fa 
	color: dimgray 
	border: none 
	border-radius: 1px 
	margin-left: -10% 
	&:hover 
		width: 110% 
		background-color: #e9e9e9 
		color: black 
		border: none 
	&:focus 
		background: transparent 
		border-style: none 
		color: black 
.container-buttons 
	margin-top: -10px 
	width: 100% 
	margin: -10px auto 
	margin-bottom: 10px 
.style-template 
	width: 80% 
	height: 80% 
	margin: 0% auto 
	border-radius: 5px 
	cursor: pointer 
.style-widget 
	width: 90% 
	height: 80% 
	margin: 0% auto 
	border-radius: 5px 
.scroll-bar 
	height: 70% 
	overflow-y: auto 
	overflow-x: hidden 
@media 
	screen 
		and 
			(max-height 
				&: 
					700px) 
						.scroll-bar {
    height: 50% 
						overflow-y: auto 
						overflow-x: hidden 
