.logo-funread {
  width: 260px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-options {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-options-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  float: left;
  margin-right: 20px;
  color: #d5a6fa;
}

.menu-options-content:hover {
  text-decoration: underline 5px;
  text-underline-offset: 15px;
  color: #d5a6fa;
}

.menu-options-content:focus {
  text-decoration: underline 5px;
  text-underline-offset: 15px;
  color: white;
}

.menu-options-content:active {
  text-decoration: underline 5px;
  text-underline-offset: 15px;
  color: white;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
