.header-navbar-container {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: min(40px, 2.2%);
}

.header-navbar-brand {
  padding: 0;
}

.header-navbar-logo-funread {
  width: 260px;
}

.menu-options {
  font-weight: bold;
  font-size: min(20px, 3vh);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-options-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  float: left;
  margin-right: 20px;
  color: #d5a6fa;
}

.menu-options-content:hover {
  text-decoration: underline 25%;
  text-underline-offset: 25%;
  color: #d5a6fa;
}

.menu-options-content:focus {
  text-decoration: underline 25%;
  text-underline-offset: 25%;
  color: white;
}

.menu-options-content:active {
  text-decoration: underline 25%;
  text-underline-offset: 25%;
  color: white;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
