.custom_section_book_Recent 
	display: flex 
	justify-content: center 
	gap: 20px 
	overflow-x: scroll 
	width: 100% 
	height: 16rem 
	justify-content: center 
	&::-webkit-scrollbar 
		height: none 
	&::-webkit-scrollbar-thumb 
		background-color: transparent 
		border: none 
		box-shadow: none 
	&::-webkit-scrollbar-track 
		background-color: transparent 
		border: none 
		margin: 0 
		box-shadow: none 
.custom_section_item_Recent 
	flex-grow: 1 
	transition: 300ms ease-in-out 
	margin-left: 4.5rem 
	margin-left: 2.5rem 
	& + .custom_section_item_Recent 
		margin-left: -10% 
	&:hover 
		transform: rotate(-4deg) 
		& ~ .custom_section_item_Recent 
			z-index: 1 
			translate: 60px 
	@media (min-width &: 1300px) and (max-width &: 3000px) 
	.custom_section_book_Recent 
		display: flex 
		gap: 80px
		justify-content: center 
									
@media (min-width: 850px) and (max-width: 1300px) 
	.custom_section_book_Recent
		display: flex 
		justify-content: center

@media (max-width: 850px) 
	.custom_section_book_Recent
		display: flex 
		justify-content: center

