.custom_section_book {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}

.custom_section_item {
  flex-grow: 1;
}

.custom_section::-webkit-scrollbar {
  height: 0px;
}

.custom_section::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.custom_section::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
  margin: 0;
  box-shadow: none;
} 


.custom_section_book {
  justify-content: center;
}
@media (min-width: 1300px) and (max-width: 3000px) {
 .custom_section_book {
   display: flex;
   gap: 80px;
   justify-content: center;
 }
 
.custom_section_item{
 transition: 300ms ease-in-out;
}
.custom_section_item + .custom_section_item{
margin-left: -10%;
}

.custom_section_item:hover{
 transform: rotate(-4deg);
}
.custom_section_item:hover~ .custom_section_item{
 z-index: 1;
 translate: 60px;
}
 
}
@media (min-width: 850px) and (max-width: 1300px) {
 .custom_section_book {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 .custom_section_item{
   margin-left: 4.5rem;
 }
}

@media (min-width: 350px) and (max-width: 850px) {
 .custom_section_book {
   display: flex;
   justify-content: center;
 }
 .custom_section_item{
   margin-left: 2.5rem;
 }
 
}