// Overlay
.Modal_Overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // ContenedorModal
  .Modal_ContenedorModal {
    width: 500px;
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
  }

  
  // EncabezadoModal
  .Modal_EncabezadoModal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
  
    h3 {
      font-weight: 500;
      font-size: 16px;
      color: #1766DC;
    }
  }
  
  // BotonCerrar
  .Modal_BotonCerrar {
    position: absolute;
    top: 15px;
    right: 20px;
  
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 5px;
    color: #1766DC;
  
    &:hover {
      background: #f2f2f2;
    }
  
    svg {
      width: 100%;
      height: 100%;
    }
  }
  