.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
   
  
  }

  .react-grid-layout {
    border: 3px solid red;
    width: 1090px;
    height: 180px !important;

  }
  
  
  .react-grid-item {
    background-color: lavender;
  
  }

  
  
  @media screen and (max-width: 1300px){
    
    .react-grid-layout{
      width: 904px;
      height: 100vh 1fr;
    }
  }

@media screen and (max-width: 1000px){
    .react-grid-layout{
      width: 510px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 750px){
    .react-grid-layout{
      width: 550px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 650px){
    .react-grid-layout{
      width: 480px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 550px){
    .react-grid-layout{
      width: 365px;
      height: 100vh 1fr;
    }
  }


  @media screen and (max-width: 450px){
    .react-grid-layout{
      width: 270px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 415px){
    .react-grid-layout{
      width: 260px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 400px){
    .react-grid-layout{
      width: 265px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 395px){
    .react-grid-layout{
      width: 235px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 380px){
    .react-grid-layout{
      width: 225px;
      height: 100vh 1fr;
    }
  }

  @media screen and (max-width: 365px){
    .react-grid-layout{
      width: 212px;
      height: 100vh 1fr;
    }
  }


  @media screen and (max-height: 1300px){
    .react-grid-layout {
      height: 230px !important;
    }
  }
  @media screen and (max-height: 1100px){
    .react-grid-layout {
      height: 230px !important;
    }
  }

  @media screen and (max-height: 951px){
    .react-grid-layout {
      height: 234px !important;
    }
  }
  @media screen and (max-height: 920px){
    .react-grid-layout {
      height: 234px !important;
    }
  }
  
  @media screen and (max-height: 850px){
    .react-grid-layout {
      height: 233px !important;
    }
  }

  @media screen and (max-height: 770px){
    .react-grid-layout {
      height: 233px !important;
    }
  }

  @media screen and (max-height: 670px){
    .react-grid-layout {
      height: 230px !important;
    }
  }