.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
   
  
  }

  .react-grid-layout {
    border: 3px solid red;
    width: 1460px;
    height: 180px !important;

  }
  
  
  .react-grid-item {
    background-color: lavender;
  
  }