.MyDragHandleClassName {
    cursor: move;
    display: inline;
    line-height: 38px;
    max-height: 480px; 
   
  
  }

  .GridLayoutTripleHorizontal {
    border: 3px solid red;
    width: 1085px;
    height: 180px !important;

  }
  
  
  .react-grid-item {
    background-color: lavender;
  
  }

  @media  (max-width: 1520px){
    
    .GridLayoutTripleHorizontal{
      width: 1070px;
    }
  }
  @media  (max-width: 1500px){
    
    .GridLayoutTripleHorizontal{
      width: 1050px;
    }
  }

  
  @media  (max-width: 1470px){
    
    .GridLayoutTripleHorizontal{
      width: 1036px;
    }
  }

  @media  (max-width: 1453px){
    
    .GridLayoutTripleHorizontal{
      width: 1012px;
    }
  }
  @media  (max-width: 1420px){
    
    .GridLayoutTripleHorizontal{
      width: 990px;
    }
  }
  @media  (max-width: 1400px){
    
    .GridLayoutTripleHorizontal{
      width: 965px;
    }
  }

  @media  (max-width: 1350px){
    
    .GridLayoutTripleHorizontal{
      width: 925px;
    }
  }
  
  @media  (max-width: 1300px){
    
    .GridLayoutTripleHorizontal{
      width: 904px;
    }
  }

  @media screen and (max-width: 1275px){
    .GridLayoutTripleHorizontal{
      width: 890px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1269px){
    .GridLayoutTripleHorizontal{
      width: 860px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1257px){
    .GridLayoutTripleHorizontal{
      width: 838px;
      height: 300px !important
    }
  }
  @media screen and (max-width: 1250px){
    .GridLayoutTripleHorizontal{
      width: 825px;
      height: 300px !important
    }
  }

  @media screen and (max-width: 1210px){
    .GridLayoutTripleHorizontal{
      width: 805px;
      
    }
  }
  @media screen and (max-width: 1200px){
    .GridLayoutTripleHorizontal{
      width: 790px;
    
    }
  }

  @media screen and (max-width: 1160px){
    .GridLayoutTripleHorizontal{
      width: 763px;
      
    }
  }

  @media screen and (max-width: 1151px){
    .GridLayoutTripleHorizontal{
      width: 760px;
      height: 300px !important
    }
  }

@media screen and (max-width: 1000px){
    .GridLayoutTripleHorizontal{
      width: 590px;
      height: 300px !important
    }
  }

  @media (max-width: 970px){
    
    .GridLayoutTripleHorizontal{
      width: 550px;
    }
  }
  @media (max-width: 965px){
    
    .GridLayoutTripleHorizontal{
      width: 573px;
    }
  }

  @media (max-width: 950px){
    
    .GridLayoutTripleHorizontal{
      width: 550px;
    }
  }

  @media (max-width: 925px){
    
    .GridLayoutTripleHorizontal{
      width: 525px;
    }
  }
  @media (max-width: 917px){
    
    .GridLayoutTripleHorizontal{
      width: 540px;
    }
  }
  @media (max-width: 910px){
    
    .GridLayoutTripleHorizontal{
      width: 515px;
    }
  }
  @media (max-width: 900px){
    
    .GridLayoutTripleHorizontal{
      width: 510px;
    }
  }

  @media (max-width: 888px){
    
    .GridLayoutTripleHorizontal{
      width: 500px;
    }
  }
  @media (max-width: 875px){
    
    .GridLayoutTripleHorizontal{
      width: 510px;
    }
  }
  @media (max-width: 871px){
    
    .GridLayoutTripleHorizontal{
      width: 497px;
    }
  }

  @media (max-width: 863px){
    
    .GridLayoutTripleHorizontal{
      width: 543px;
    }
  }

  @media (max-width: 850px){
    
    .GridLayoutTripleHorizontal{
      width: 520px;
    }
  }

  @media (max-width: 825px){
    
    .GridLayoutTripleHorizontal{
      width: 513px;
    }
  }

  @media (max-width: 800px){
    
    .GridLayoutTripleHorizontal{
      width: 505px;
    }
  }

  @media (max-width: 790px){
    
    .GridLayoutTripleHorizontal{
      width: 500px;
    }
  }

  @media (max-width: 775px){
    
    .GridLayoutTripleHorizontal{
      width: 480px;
    }
  }

  @media screen and (max-width: 750px){
    .GridLayoutTripleHorizontal{
      width: 460px;
    }
  }

  @media screen and (max-width: 725px){
    .GridLayoutTripleHorizontal{
      width: 430px;
    }
  }

  @media screen and (max-width: 700px){
    .GridLayoutTripleHorizontal{
      width: 420px;
    }
  }

  @media screen and (max-width: 689px){
    .GridLayoutTripleHorizontal{
      width: 415px;
    }
  }
  @media screen and (max-width: 660px){
    .GridLayoutTripleHorizontal{
      width: 402px;
    }
  }
  @media screen and (max-width: 654px){
    .GridLayoutTripleHorizontal{
      width: 395px;
    }
  }
  @media screen and (max-width: 650px){
    .GridLayoutTripleHorizontal{
      width: 390px;
    }
  }

  @media screen and (max-width: 625px){
    .GridLayoutTripleHorizontal{
      width: 370px;
    }
  }

  @media screen and (max-width: 600px){
    .GridLayoutTripleHorizontal{
      width: 420px;
    }
  }

  @media screen and (max-width: 579px){
    .GridLayoutTripleHorizontal{
      width: 400px;
    }
  }

  @media screen and (max-width: 557px){
    .GridLayoutTripleHorizontal{
      width: 385px;
    }
  }
  @media screen and (max-width: 550px){
    .GridLayoutTripleHorizontal{
      width: 365px;
    }
  }

  @media screen and (max-width: 515px){
    .GridLayoutTripleHorizontal{
      width: 340px;
    }
  }


  @media (max-width: 500px){
    .GridLayoutTripleHorizontal{
      width: 300px;
    }
  }

  @media (max-width: 470px){
    .GridLayoutTripleHorizontal{
      width: 280px;
    }
  }

  @media screen and (max-width: 450px){
    .GridLayoutTripleHorizontal{
      width: 270px;
    }
  }

  @media screen and (max-width: 430px){
    .GridLayoutTripleHorizontal{
      width: 261px;
    }
  }

  @media screen and (max-width: 425px){
    .GridLayoutTripleHorizontal{
      width: 253px;
    }
  }

  @media screen and (max-width: 415px){
    .GridLayoutTripleHorizontal{
      width: 250px;
    }
  }

  @media screen and (max-width: 403px){
    .GridLayoutTripleHorizontal{
      width: 235px;
    }
  }

  @media screen and (max-width: 395px){
    .GridLayoutTripleHorizontal{
      width: 230px;
     
    }
  }

  @media screen and (max-width: 385px){
    .GridLayoutTripleHorizontal{
      width: 220px;
     
    }
  }

  @media screen and (max-width: 380px){
    .GridLayoutTripleHorizontal{
      width: 218px;
     
    }
  }

  @media screen and (max-width: 373px){
    .GridLayoutTripleHorizontal{
      width: 215px;
     
    }
  }

  @media screen and (max-width: 365px){
    .GridLayoutTripleHorizontal{
      width: 205px;
     
    }
  }

  @media screen and (max-width: 355px){
    .GridLayoutTripleHorizontal{
      width: 200px;
     
    }
  }

  @media screen and (max-width: 340px){
    .GridLayoutTripleHorizontal{
      width: 190px;
     
    }
  }

  @media screen and (max-width: 328px){
    .GridLayoutTripleHorizontal{
      width: 178px;
     
    }
  }

  @media screen and (max-width: 315px){
    .GridLayoutTripleHorizontal{
      width: 175px;
     
    }
  }

  @media screen and (max-width: 300px){
    .GridLayoutTripleHorizontal{
      width: 130px;
     
    }
  }

  @media screen and (max-width: 278px){
    .GridLayoutTripleHorizontal{
      width: 114px;
     
    }
  }

  @media screen and (max-width: 270px){
    .GridLayoutTripleHorizontal{
      width: 111px;
     
    }
  }


  @media screen and (max-height: 1300px){
    .GridLayoutTripleHorizontal {
      height: 385px !important;
    }
  }
  @media screen and (max-height: 1100px){
    .GridLayoutTripleHorizontal {
      height: 315px !important;
    }
  }

  @media screen and (max-height: 951px){
    .GridLayoutTripleHorizontal {
      height: 234px !important;
    }
  }
  @media screen and (max-height: 920px){
    .GridLayoutTripleHorizontal {
      height: 234px !important;
    }
  }
  
  @media screen and (max-height: 850px){
    .GridLayoutTripleHorizontal {
      height: 233px !important;
    }
  }

  @media screen and (max-height: 770px){
    .GridLayoutTripleHorizontal {
      height: 233px !important;
    }
  }

  @media screen and (max-height: 670px){
    .GridLayoutTripleHorizontal {
      height: 230px !important;
    }
  }