.custom-list-group-span
  color: grey
  text-align: left

.list-group-item-action.active
  background-color: #79ABA8
  border-color: #79ABA8 
  color: #ffffff 

.custom-pill
  background-color: #ff5733 
  color: #ffffff 