
h4 {
  color: grey;
  text-align: left;
}

.sidebar-mobile {
  display: block;
}

@media screen and (min-width: 992px) {
  .sidebar-mobile {
    display: none;
  }
}

.sidebar-desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .sidebar-desktop {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .sidenav.col-sm-8 {
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
}
