
.custum-video-H1{
    margin-top: 60px;
    font-style: italic;
  }

  .card-text-Video{
    background: none;
  }

  .custum-video{
    margin-top: 20px;
  }

  .btn{
    margin-left: 2px;
    border-radius: 10%;
  }

  .wrapper .form{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px;
  }
  
  
  
  .wrapper .youtube-box{
    width: 50%;
    height: 350px;
    background-color: #e4e4e4;
  }
  
  @media(max-width: 768px){
    .wrapper .form, .wrapper .youtube-box{
      width: 100%;
    }
  }
  
   .youtube-box .video{
    width: 50%;
    height: 50%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  
  .error-msg{
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    color: red;
  }
  
  @media(max-width: 768px){
    .error-msg{
      width: 100%;
    }
  } 