
.custum-video-H1{
    margin-top: 60px;
    font-style: italic;
  }

  .card-text-Video{
    background: none;
  }

  .custum-title-desktop{
   
    align-items: center;
    text-align: center;
  }

  .custum-icon{
    padding-right: 5px;
  }
  
   .youtube-box .video{
    width: 50%;
    height: 50%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  
.custum-tabs{
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(186, 208, 209) !important;
  font-weight: bold
  
}
