 .custum-form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  }

 .custum-box{
    width: 10%;
    height: 150px;
  }

  .wrapper .form{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 100px;
  }
  
  
  
 .youtube-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 50%;
    height: 200px;
    margin-right: 50px;
    background-color: #e4e4e4; 
  }
  
  @media(max-width: 768px){
    .wrapper .form, .wrapper .youtube-box{
      width: 100%;
    }
  }
  
   .youtube-box .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
   
  }

  