.tools {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid;
  min-width: 300px;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}

.tools-size-counter {
  width: 60%;
  padding-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid;
  border-color: gray;
  height: 40px;
}

.tools-label {
  padding: 15px 15px 0 15px;
  font-weight: bold;
}

.tools-body {
  width: 100%;
}

.tools-row {
  width: 100%;
  margin: 0;
}

.tools-select {
  color: black !important;
  box-shadow: none !important;
  border-radius: 10px;
  width: 80%;
  height: 40px;
  border-color: gray;
  margin: 0 15px 20px 15px;
}

.tools-select:focus {
  border: 1px solid black;
}

.no-padding {
  padding: 0;
}

.tools-list {
  border: 1px solid;
  border-color: gray;
  border-left: 0;
  border-right: 0;
  align-items: center;
  height: 40px;
  padding: 0 15px 0 15px;
}

.tools-list-tool-name {
  margin: 0;
}

.tools-list-arrow {
  display: flex;
  justify-content: flex-end;
}
