
#game{
    margin-left: 1em;
}

#modes{
    padding: 3em;
    min-height: 500px;
    max-width: max-content;
    border: 2px solid rgb(155, 89, 182);
    border-radius: 15px;
    background-color: rgb(206, 189, 242);
    overflow: auto;
    text-align: center;
    margin-top: 15px;
}

#footerButton{
    text-align: end;
    padding-top: 20px;
    padding-bottom: 1em;
}

.sectionWords{
    text-align: center;
    position:absolute;
    right:0;
    min-height: 100vmin;
    float:right;
    overflow: auto;
    padding-bottom: 2em;
    background-color: transparent;
}

.show-element {
    opacity: 1;
}
  
.hide-element {
    opacity: 0;
}
  
.titulo
{
  padding-top: 35px;
}

.personalize{
    margin-top: 1em;
    width: auto;
    height: 45px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);;
    color: rgb(0, 0, 0);
}

.personalize:hover{
    background: rgb(206, 189, 242);
    border: 1px solid transparent;
}

#footerButton button{
    width: 75px;
    height: 35px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #000000;
    color: #000000;
}

#footerButton button:hover{
    background: rgb(206, 189, 242);
    border: 1px solid transparent;
    color: #000000;
}

  @media only screen and (max-width: 345px) {

    #footerButton button {
        width: min-content;
        transition: 0.9s;
    }

    #modes{
        width: max-content;
        place-content: center;
    }

    .sectionWords{
        min-height: 100vmin;
        width: fit-content;
    }
  }

