#game{
    margin-left: 4em;
}

#modes{
    padding: 3em;
    min-height: 500px;
    max-width: auto;
    margin-right: 20px;
    border: 2px solid rgb(155, 89, 182);
    border-radius: 15px;
    background-color: rgb(206, 189, 242);
    overflow: auto;
    text-align: center;
    margin-top: 15px;
}

#footerButton{
    text-align: end;
    padding-top: 20px;
    padding-bottom: 1em;
}

.col-3{
    text-align: right;
    position:absolute;
    right:0;
    min-height: 500px;
    float:right;
    overflow: auto;
    padding-bottom: 2em;
}

.side{
    margin-right: 1em;
    text-align: center;
    height: 350px;
    max-width: auto;
}


.show-element {
    opacity: 1;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
  
.hide-element {
    opacity: 0;
}
  
.titulo
{
  padding-top: 35px;
}

.personalize{
    margin-top: 1em;
    width: 150px;
    height: 45px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);;
    color: rgb(0, 0, 0);
}

.personalize:hover{
    background: rgb(206, 189, 242);
    border: 1px solid transparent;
}

#footerButton button{
    width: 150px;
    height: 35px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #000000;
    color: #000000;
}

#footerButton button:hover{
    background: rgb(206, 189, 242);
    border: 1px solid transparent;
    color: #000000;
}

@media only screen and (min-width: 460px) {
    .responses-grid {
        /*grid-template-columns: repeat(1, 1fr);*/
        place-content: center;
      }

    #game{
        margin-right: 3em;
    }

    #buttonsDifficulty button {
        width: 6em;
        transition: 0.9s;
    }

    

    #modes{
        width: fit-content;
        place-content: center;
    }

  }

  @media only screen and (min-width: 345px) {
    .responses-grid {
        /*grid-template-columns: repeat(1, 1fr);*/
        place-content: center;
      }

    #game{
        margin-right: 3em;
    }

    #buttonsDifficulty button {
        width: 6em;
        transition: 0.9s;
    }

    #footerButton button {
        width: 6em;
        transition: 0.9s;
    }

    #modes{
        width: fit-content;
        place-content: center;
    }
  }

