tbody, td, tfoot, th, thead, tr {
  border-color: rgb(155, 89, 182);
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  text-align: center;
}

td{
  text-transform: uppercase;
  color: rgb(144, 42, 184);
}
.saved-word {
  color: rgb(138, 31, 31); /* Cambia el color según tus preferencias */
}
.highlighted-word
{
  color: rgb(255, 132, 0);
}