#wordsInput {
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

#wordsInput:focus {
    outline: none;
}

#wordsInput {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.found-word #wordsInput {
    color: yellow;
}
.saved-word {
    color: black; /* Cambia el color según tus preferencias */
}
