#wordsInput {
    width: 125px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(155, 89, 182);
    text-align: center;
}

#wordsInput:focus {
    outline: none;
}

#wordsInput {
    text-transform: uppercase;
    color: rgb(155, 89, 182);
}


