

.imagen-container 
  max-width: 100% 
  max-height: 80vh 
  margin: 0 auto

.imagen 
  width: 100% 
  height: auto

.page-conteiner
  max-height: 100vh 
  overflow: hidden 

.hoja
  max-height: calc(100vh - 20px) 
  overflow: hidden 
  padding: 10px o

.page-conteiner
  max-height: 100vh 
  padding: 2vw 
.hoja
  max-height: calc(100vh - 40px) 