

.imagen-container 
  max-width: 100% /* Establece el ancho máximo para que la imagen se ajuste al contenedor */
  max-height: 80vh /* Establece la altura máxima para limitar la altura de la imagen */
  overflow: hidden /* Oculta cualquier parte de la imagen que se extienda más allá del contenedor */
  margin: 0 auto /* Centra horizontalmente la imagen dentro del contenedor */

.imagen 
  width: 100% /* Asegura que la imagen se ajuste al ancho máximo del contenedor */
  height: auto /* Ajusta la altura de la imagen de manera proporcional al ancho */

