.presentation-container
  position: relative
  width: 100%
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background: #f0f0f0
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
  border-radius: 10px
  overflow: hidden

.top-menu
  position: absolute
  top: 0
  width: 100%
  display: flex
  justify-content: space-between
  padding: 10px
  background-color: rgba(255, 255, 255, 0.5)

  button
    background: none
    border: 1px solid white
    padding: 5px 10px
    cursor: pointer
    &:hover
      background: rgba(255, 255, 255, 0.8)

