.signup-form {
  width: 480px;
  height: 70%;
  padding: 60px;
  background-color: white;
  border-radius: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 80px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100%;
}

.signup-form-title {
  font-weight: bold;
  font-size: 5.28vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100%;
}

.signup-form-subtitle {
  font-weight: normal;
  height: 2vh;
  font-size: 1.8vh;
}

.form-label {
  margin: 10px 0 5px 0;
  font-size: 20px;
}

.form-control-lg {
  min-width: 100%;
  margin-bottom: 0.5vh;
  height: 5vh;
  border-radius: 10px;
  border-style: solid;
  border-color: #e9e9e9;
  color: #e9e9e9;
  box-shadow: none !important;
}

.form-control-lg-filled {
  min-width: 100%;
  margin-bottom: 0.5vh;
  height: 5vh;
  border-radius: 10px;
  border-style: solid;
  border-color: #42006d;
  color: #42006d;
}

.form-control::placeholder {
  color: #e9e9e9;
}

.signup-form-button-empty {
  margin-top: 2vh;
  min-width: 100%;
  font-size: 100%;
  border-radius: 10px;
  background: white;
  border-style: solid;
  border-color: #d5a6fa;
  color: #d5a6fa;
  box-shadow: none !important;
  padding: 4%;
  margin-top: 10px !important;
}

.signup-form-button-empty:hover {
  background: white;
  border-style: solid;
  border-color: #d5a6fa;
  color: #d5a6fa;
}

.signup-form-button-empty:focus {
  background: white;
  border-style: solid;
  border-color: #d5a6fa;
  color: #d5a6fa;
}

.signup-form-button-empty:active {
  background: white;
  border-style: solid;
  border-color: #d5a6fa;
  color: #d5a6fa;
}

.font-size {
  font-size: 1.8vh;
}

.signup-icons {
  margin-right: 10px;
}

.responsive-text {
  margin-bottom: 0.5vh;
  height: 5vh;
}

.account-button-container {
  padding-left: 1px;
  padding-right: 2px;
  margin: -61px -62px 10px -62px;
}

.signup-form-button-filled {
  margin-top: 1%;
  min-width: 100%;
  height: 20%;
  font-size: 20px;
  border-radius: 10px;
  background: #42006d;
  border-style: solid;
  border-color: #42006d;
  color: white;
}

.password-button {
  background: transparent;
  border-style: none;
  float: right;
  margin-top: -35px;
  position: relative;
  box-shadow: none !important;
  color: #e9e9e9;
}

.password-button:hover {
  background-color: transparent;
  border-style: none;
  color: #e9e9e9;
}

.password-button:focus {
  background: transparent;
  border-style: none;
}

.password-button:active {
  background: transparent;
  border-style: none;
}

@media (max-width: 700px) {
  .signup-form {
    width: 320px;
    height: 70%;
    padding: 60px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
  }

  .signup-form-subtitle {
    font-weight: normal;
    height: 2vh;
    font-size: 1.4vh;
  }
}

@media (max-height: 850px) {
  .signup-form {
    width: 240px;
    height: 60%;
    padding: 60px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
  }

  .signup-form-title {
    font-weight: bold;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
  }

  .signup-form-subtitle {
    font-weight: normal;
    font-size: 1.5vh;
  }

  .font-size {
    font-size: 70%;
    margin-top: 0.1%;
  }

  .responsive-text {
    margin-bottom: 0.1%;
    font-size: 80%;
  }

  .form-check-input {
    height: 15px;
  }

  .signup-form-button-empty {
    margin-top: 2vh;
    min-width: 100%;
    font-size: 100%;
    border-radius: 10px;
    background: white;
    border-style: solid;
    border-color: #d5a6fa;
    color: #d5a6fa;
    box-shadow: none !important;
    padding: 4%;
    height: 35px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
  }

  .form-check-label {
    font-size: 90%;
    margin-bottom: 0%;
  }
}

@media (min-width: 1000px) {
  .signup-form {
    width: 480px;
    height: 70%;
    padding: 60px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
  }
}
